<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Activity</h3>
  </div>
  <div class="panel-body">
Practice saying the word "oh" in various tones and inflections. See how many emotions you can express by simply saying this one small word.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tone Communicates</h3>
  </div>
  	<div class="panel-body">
Deep chest tones communicate firmness, self-assurance, and strength, thin and high-pitched voices suggest insecurity, weakness, indecisiveness. 
	</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Examples of Characteristics Reflected in Tone or Pitch</h3>
  </div>
  	<div class="panel-body">
		<div class="table-responsive">
  			<table class="table">
  		<tr>
  			<th>Characteristic</th>
  			<th>Reflection</th>
  		</tr>
  		<tr>
  			<td>Monotone voice</td>
  			<td>boredom</td>
  		</tr>
  		<tr>
  			<td>Slow speed, low pitch</td>
  			<td>depression</td>
  		</tr>
  		<tr>
  			<td>High voice, emphatic pitch</td>
  			<td>enthusiasm</td>
  		</tr>
  		<tr>
  			<td>Ascending tone	</td>
  			<td>astonishment</td>
  		</tr>
  		<tr>
  			<td>Terse speed, loud tone</td>
  			<td>anger</td>
  		</tr>
  		
  		<tr>
  			<td>Abrupt speech</td>
  			<td>defensiveness</td>
  		</tr>
  		<tr>
  			<td>High pitch, drawn-out speech</td>
  			<td>disbelief</td>
  		</tr>
  			</table>
  		</div>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gender</h3>
  </div>
  <div class="panel-body">
Women are more likely than men to frame their ideas as questions, and to speak at lower volumes and higher pitch. Women tend to shift the pitch of their voice more frequently than men. By doing so, they may be perceived as more emotional. 

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Culture</h3>
  </div>
  <div class="panel-body">
<p>The same characteristic is seen in certain cultures, such as in Greece. Speaking in a lower then expected tone or pitch may appear to Americans as inappropriate given the circumstances, as a symptom of repression. A Japanese woman who not only doesn't cry but laughs when speaking of her husband's death might seen inappropriate by a Westerner who does not know that laughter is the customary and expected Japanese way of masking emotions.
</p>
<p>
At times, it might be difficult for physical therapists to determine the extent of pain felt by patients of different cultures. Patients of Mediterranean background may show extreme reactions while experiencing far less pain than is being felt by a Native American who is rigid and silent. (Tannen 1986).
</p>


  </div>
</div>