<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Interruptions</h3>
  </div>
  <div class="panel-body">
  Although this topic has been discussed as a gender difference in communication styles, it can also be found to differ among culture. When there is no obvious intention to dominate or to show rudeness or denigration, Tannen (1990) describes those who interrupt or "talk over" another's conversation as having a "high involvement" style. Those who do not interrupt, who wait for a lull in the conversation or for "their turn", she describes as having a "high considerateness" style of communication. The latter people give a high priority to being considerate of others and not imposing. The former individuals give priority to showing enthusiastic involvement in the conversation. Those who hesitate to interrupt a conversation may be perceived as lacking assertiveness or self-confidence. Tannen relates the following story.
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Story</h3>
  </div>
  <div class="panel-body">
  "A woman from Texas went to Washington D.C. for a job in dormitory administration. When the dorm staff got together for meetings, she kept searching for the right time to break in-and never found it. Although back home she was considered outgoing and confident, in Washington she was perceived as shy and retiring. When she was evaluated at the end of the year, she was told to take an assertiveness-training course because of her inability to speak up." (Tannen 1986)
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Cultural Differences</h3>
  </div>
  <div class="panel-body">
Many American Jews as well as non-Jews who are from New York have a high-involvement manner of speaking. Mid-westerners and New Englanders may expect greater lulls in the conversation and take offense when none is offered so that they may have a chance to speak. Athabaskan Indians expect even longer pauses. An Italian male student was considered a serious behavior problem in school simply by frequently chiming into the American instructor's conversations, a behavior that was seen as appropriate and quite normal at home.
  </div>
</div>
