<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Choice of Words</h3>
  </div>
  <div class="panel-body">
   <p>We have all been in situations where we had to choose our words carefully, to sort through the various word choices we had to pick the one that would most likely get the result we were looking for. We know that which words we choose to use can have a dramatic impact on the result. We have learned to choose different words to talk to a 3-year old patient versus 60-year old patient. We have learned when to use a more passive word and when to use an aggressive word. We know that it matters.</p>

<p>We also need to be aware of words that do not mean what they say. "This won't hurt" may not be true if we are debriding a wound, or giving an injection. 
</p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cultural Differences</h3>
  </div>
  <div class="panel-body">
   	<p>In some cultures, such as many Asian ones, disagreement is to be avoided. This can lead to a situation where an Asian student may say "yes" when she is not necessarily agreeing with the CI's ideas. The "yes" may mean that the student is agreeing with the CI's right to have the idea or right to express it, or yes, she understands that that is the CI's idea. What it may NOT mean is that the student agrees with that idea.
	</p>

	<p>A similar misunderstanding may occur if the CI asks if the student understands a set of instructions. Before believing that yes means yes, it would be prudent for the CI to ask for paraphrasing, clarification, or to ask questions to make sure the student does understand.
	</p>
	<p>When a female CI tells a student that she would like his reports "whenever he gets time to do it", that may not really be what she means. She may be using an indirect form of communication, when what she really means is "by 4:00 p.m. today".
	</p>
  </div>
</div>