<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Arguing and Verbal Sparring</h3>
  </div>
  <div class="panel-body">
   One author found that many high school boys but NO high school girls, had a friendship that began by fighting. Males are much more comfortable with this type of conversation than are most females. Among many cultures, such as Eastern European and German, friendly arguing is a means of being sociable. In one study, German students found American students uninformed and uncommitted because they were reluctant to argue politics with new acquaintances. Americans found the Germans students to be belligerent because they provoked arguments about American foreign policy with Americans they had just met. (Tannen 1994)
  </div>
</div>



