<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Non-verbal factors make up 93% of communication</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>38% is vocal (volume, pitch, rhythm, etc.)</li>
		<li>55% is body movements (mostly facial expressions)</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">70% of our waking moments are spent communicating</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>9% writing.</li>
		<li>16% reading.</li>
		<li>30% talking.</li>
		<li>45% listening.</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Alfred North Whitehead</h3>
  </div>
  <div class="panel-body">
   "The success of language in conveying information is highly over-rated".
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">First Impressions</h3>
  </div>
  <div class="panel-body">
  Roughly 2/3 of your first impression of another person will remain unchanged after months of regular interaction.
  </div>
</div>





 