<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Behaviorists—Thorndike, Pavlov, Skinner</h3>
  </div>
  <div class="panel-body">
   Example: Shaping is the process by which the clinical instructor may provide successive 	experiences with reinforcement that would eventually "shape" skill performance. 
  </div>
</div>
