<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information Processing—Bruner</h3>
  </div>
  <div class="panel-body">
Example: In order to optimize working memory students should be taken progressively to more complex patient problems. Strategies such as "chunking" information, relating information to prior experiences, and elaboration of information assist the learner in processing information into long term memory for later access.
  </div>
</div>