<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Developmental—Piaget</h3>
  </div>
  <div class="panel-body">
Example: Each stage of development is dependent upon successful completion of the previous stage. In the clinical setting concern may be more with whether the student is at the highest level of cognitive development where problem solving and critical thinking are utilized for clinical decision making.
  </div>
</div>
