<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Social Cognitive--Bandura</h3>
  </div>
  <div class="panel-body">
Example: The clinical site is the optimal environment for learning to occur. Through the interaction of the clinical setting, student personal variables and behaviors, learning is enhanced. Appropriately challenging tasks, successful performance of those tasks, peer modeling, and verbal feedback all contribute to the student's belief that he/she is capable of successfully completing the clinical rotation. As a result of this belief, students will choose challenging experiences, persist in completing tasks with effort and progress toward their personal goals. 
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Note</h3>
  </div>
  <div class="panel-body">
This is a miniscule discussion of the different theories. If interested, further study is encouraged.
  </div>
</div>

 



