     <ul class="list-group">
  		<li class="list-group-item">All patients have a right to know that a student is treating them.</li>
  		<li class="list-group-item">It is imperative that students introduce themselves as such and that patients give consent to be treated by the student.</li>
  		<li class="list-group-item"></li> 		
   </ul>