   <ul class="list-group">
  		<li class="list-group-item">Sexual harassment is the most common complaint registered in Texas against physical therapists.  Don’t let students treat a patient alone or unsupervised</li> 
<li class="list-group-item">Don’t put the student in any compromising situations</li>
<li class="list-group-item">Teach them to be proactive and to select their choice of words carefully</li>
<li class="list-group-item">Keep away from compromising situations</li>
<li class="list-group-item"></li>
   </ul>