     <ul class="list-group">
  		<li class="list-group-item">The contract stipulates specifically that an employer/employee relationship does not exist</li> 
  		<li class="list-group-item">Thus students are not eligible for worker’s compensation or other entitlements of employees of a site</li> 
  		<li class="list-group-item">If a student works as an aide while in PT school, the student’s school liability insurance does not cover the student when s/he is working as an aide</li> 
  		<li class="list-group-item">The school is also not responsible for the student’s performance when employed as an aide</li> 	
   </ul>