 <ul class="list-group">
  		<li class="list-group-item">The rules applying to healthcare in general that are applicable to student education are the transaction rule, security rule and privacy rule</li>
  		<li class="list-group-item">The transaction rule deals with standardizing billing and coding procedures</li> 
  		<li class="list-group-item">The security rule refers to securing personally identifiable health care information</li> 
  		<li class="list-group-item">The privacy rule refers to sharing of patient medical information</li>
  		<li class="list-group-item">Physical therapy concerns involve electronic medical records and maintaining personal health information private</li> 
  		<li class="list-group-item">The protected health information (PHI) practices must be provided to the patient on the first day of service</li> 
  		<li class="list-group-item">There are civil and criminal penalties for noncompliance</li> 	
   </ul>