   <ul class="list-group">
  		<li class="list-group-item">Students are not licensed yet perform duties of licensed personnel. </li>
  		<li class="list-group-item">A PT student must be supervised by a PT and a PTA student must be supervised by a PT or PTA. </li>
  		<li class="list-group-item">Co-signature of the licensee is required on all documentation. </li>
  		<li class="list-group-item">There are several Medicare administrative rulings which also apply to student supervision. (See APTA link for Medicare and Students)</li>
  		<li class="list-group-item">Facilities are not allowed to bill under Medicare B for independent student delivered services. </li>
  		<li class="list-group-item">Students must be in the PT’s direct line of sight in Skilled Nursing Facilities in order to bill for the minutes of care given. </li>
  		<li class="list-group-item">Be sure to consult your facility for its interpretation of the Medicare rulings. </li>
  		<li class="list-group-item">Students can take advantage of other learning opportunities in a facility and may observe other disciplines providing care to patients. However, the student PT may not participate in the care of a patient without having a PT on site to supervise.</li>
  		<li class="list-group-item">Although students carry liability insurance, it does not remove the liability of the CI.</li>
   </ul>