   <ul class="list-group">
  		<li class="list-group-item">A facility cannot refuse to accept a student based on a documented disability</li> 
  		<li class="list-group-item">Academic accommodations have been made for the student and there should not be any unreasonable requests made to the site in order to accept a student</li> 	
   </ul>