<ul class="list-group">
  		<li class="list-group-item">Learning experiences are not solely related to patient care. There are many opportunities that your site has to offer the student. </li>
</ul> 		
  		