  		
  	<ul class="list-group">
  		<li class="list-group-item">To decide how to determine which learning experiences should be taken advantage of, the CI should use the clinical evaluation tool (e.g. the PT MACS) to assist in selecting optimal learning experiences.</li>
  		
  </ul>		
  		
 