  <ul class="list-group">
  		<li class="list-group-item">The student should identify his/her strengths and weaknesses.</li>
  		<li class="list-group-item">The CI and student should discuss the list in the planning process.</li>
  		<li class="list-group-item">Both determine which skills can be addressed and if there are any special needs.</li>
  		
  		
  	</ul>
  		
  		
  