<ul class="list-group">		
		
		<li class="list-group-item">Both identify expectations and objectives.</li>
  		<li class="list-group-item">The CI facilitates learning experiences to help the student meet the objectives.</li>
  		
</ul

