

			<h3>Guidelines</h3>
			<ul class= "nav nav-tabs nav-justified">
				<li class="tab active"><a href="#tab1" data-toggle="tab"><font color="black">APTA CCCE and CI Guidelines</font></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<div class="panel panel-info">
  
  						<div class="panel-body">
   							<ul class="list-group">
  								<li class="list-group-item">Link to the American Physical Therapy Association Clinical Educators Website:</button></li>
  								<li class="list-group-item"> <button type="button" class="btn btn-secondary"><%=link_to "Link", "http://www.apta.org/Educators/Clinical/" %></button></li>
  
   							</ul>
  						</div>
					</div>

				</div>
				
			</div>


<nav>
  <ul class="pager">  	
	<li>
		<%=link_to  planning_pages_philosophy_path do%>	
  			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  			Previous
		<% end %>
	</li>
   	<li>
		<%= link_to   planning_pages_site_development_path do %>
			Next 
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<% end %>
	</li>
   
  </ul>
</nav>

