<h3>APTA CCCE and CI Guidelines</h3>
<p>(Find me in app/views/planning_pages/apta_link.html.erb)</p>


<p>
LINK for APTA Members (http://www.apta.org/Educators/Clinical/) 

<%=link_to "APTA Members",  "http://www.apta.org/Educators/Clinical/" %>

</p>
