<h3>PLANNING A CLINICAL EDUCATION PROGRAM: Clinical Education</h3>
<p>Find me in app/views/planning_pages/clinical_education.html.erb</p>


<p>
Current Research

The reference page at the end of this module will provide you with further articles to support collaborative learning.

Assigning Students

The ACCE/DCE should provide the CCCE with:

Information regarding the prior coursework the student has had, 

Which clinical experience this is and the type preferred, 

The PT program’s grading criteria

The student biographical information. 

All of this information should assist the CCCE in assigning the student to the appropriate CI.

Contacting Students

The CCCE should contact the student via mail, e-mail or phone. The student feels welcomed with a letter of introduction telling him/her about the upcoming clinical experience. 

The “need to know” information should be shared in writing so the student may refer back to it if necessary. 

The clinic policies, hours and expectations for performance should be given to the student prior to the start of the clinical experience. 

Some sites have a student questionnaire they like to have returned by the student prior to the clinical experience.

Students On-Site

Once on-site, the students need to feel welcomed by the CI. 

The CI should establish a professional relationship and open lines of communication. 

The student will need an orientation to the facility including: 

Facility policies and procedures 

Documentation requirements 

Other need to know information 

The initial meeting with the CI should also include:

Review of the clinical education tool, 

Setting goals for the clinical experience 

If the CI gives too much information in one sitting, the student may not remember all of it. 

Remember how overwhelming the first clinical experience can be. The first day should be reserved for “need to know” information.

</p>

<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
<p><%=link_to "Next", planning_pages_learning_experiences_path%>
