<h3>PLANNING A CLINICAL EDUCATION PROGRAM : Learning Experiences</h3>
<p>(Find me in app/views/planning_pages/learning_experiences.html.erb)</p>


<p>
Learning experiences are not solely related to patient care. There are many opportunities that your site has to offer the student. 

To decide how to determine which learning experiences should be taken advantage of, the CI should use the clinical evaluation tool (e.g. the PT MACS) to assist in selecting optimal learning experiences.

The student should identify his/her strengths and weaknesses.

The CI and student should discuss the list in the planning process.

Both determine which skills can be addressed and if there are any special needs.

Both identify expectations and objectives.

The CI facilitates learning experiences to help the student meet the objectives.

Both establish the means of how and where the student will be evaluated on meeting the objectives.
</p>

<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
<p><%=link_to "Next", planning_pages_legal_issues_path%>
