
<h3>Legal Considerations</h3>
 
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Supervision</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  		<li class="list-group-item">Students are not licensed yet perform duties of licensed personnel. </li>
  		<li class="list-group-item">A PT student must be supervised by a PT and a PTA student must be supervised by a PT or PTA. </li>
  		<li class="list-group-item">Co-signature of the licensee is required on all documentation. </li>
  		<li class="list-group-item">There are several Medicare administrative rulings which also apply to student supervision. (See APTA link for Medicare and Students)</li>
  		<li class="list-group-item">Facilities are not allowed to bill under Medicare B for independent student delivered services. </li>
  		<li class="list-group-item">Students must be in the PT’s direct line of sight in Skilled Nursing Facilities in order to bill for the minutes of care given. </li>
  		<li class="list-group-item">Be sure to consult your facility for its interpretation of the Medicare rulings. </li>
  		<li class="list-group-item">Students can take advantage of other learning opportunities in a facility and may observe other disciplines providing care to patients. However, the student PT may not participate in the care of a patient without having a PT on site to supervise.</li>
  		<li class="list-group-item">Although students carry liability insurance, it does not remove the liability of the CI.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Texas Practice Act</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  		<li class="list-group-item">Students are not addressed in the Texas Practice Act; therefore, they are an extension of your license.</li> 		
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Informed Consent</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  		<li class="list-group-item">All patients have a right to know that a student is treating them.</li>
  		<li class="list-group-item">It is imperative that students introduce themselves as such and that patients give consent to be treated by the student.</li>
  		<li class="list-group-item"></li> 		
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Sexual Harassment</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  		<li class="list-group-item">Sexual harassment is the most common complaint registered in Texas against physical therapists.  Don’t let students treat a patient alone or unsupervised</li> 
<li class="list-group-item">Don’t put the student in any compromising situations</li>
<li class="list-group-item">Teach them to be proactive and to select their choice of words carefully</li>
<li class="list-group-item">Keep away from compromising situations</li>
<li class="list-group-item"></li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Student as Employee</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  		<li class="list-group-item">The contract stipulates specifically that an employer/employee relationship does not exist</li> 
  		<li class="list-group-item">Thus students are not eligible for worker’s compensation or other entitlements of employees of a site</li> 
  		<li class="list-group-item">If a student works as an aide while in PT school, the student’s school liability insurance does not cover the student when s/he is working as an aide</li> 
  		<li class="list-group-item">The school is also not responsible for the student’s performance when employed as an aide</li> 	
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">The American with Disabilities Act (ADA)</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  		<li class="list-group-item">A facility cannot refuse to accept a student based on a documented disability</li> 
  		<li class="list-group-item">Academic accommodations have been made for the student and there should not be any unreasonable requests made to the site in order to accept a student</li> 	
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Health Insurance Portability and Accountability Act HIPAA</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  		<li class="list-group-item">The rules applying to healthcare in general that are applicable to student education are the transaction rule, security rule and privacy rule</li>
  		<li class="list-group-item">The transaction rule deals with standardizing billing and coding procedures</li> 
  		<li class="list-group-item">The security rule refers to securing personally identifiable health care information</li> 
  		<li class="list-group-item">The privacy rule refers to sharing of patient medical information</li>
  		<li class="list-group-item">Physical therapy concerns involve electronic medical records and maintaining personal health information private</li> 
  		<li class="list-group-item">The protected health information (PHI) practices must be provided to the patient on the first day of service</li> 
  		<li class="list-group-item">There are civil and criminal penalties for noncompliance</li> 	
   </ul>
  </div>
</div>


<nav>
  <ul class="pager">  	
	<li>
		<button type="button" class="btn btn-default" aria-label="Left Align">
  			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  			<%=link_to "Previous", planning_pages_learning_experiences_path%>
		</button>
	</li>
	
		<li>
		<button type="button" class="btn btn-default" aria-label="Left Align">
  			<%=link_to "Case Study Activity", new_planning_case1_path, html_options = {target:"_top"}%>
  			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</button>
	</li>
    
	<br>

   	<li><%=link_to "Course Home", course_home_path%></li>
   	<li><%=link_to "Planning Module Home", planning_pages_planning_home_path%></li>
   
  </ul>
</nav>

