<h3>PLANNING A CLINICAL EDUCATION PROGRAM: Legal Consideration</h3>
<p>Find me in app/views/planning_pages/legal_issues.html.erb</p>


<p>
Supervision

Students are not licensed yet perform duties of licensed personnel. 

A PT student must be supervised by a PT and a PTA student must be supervised by a PT or PTA. 

Co-signature of the licensee is required on all documentation. 

There are several Medicare administrative rulings which also apply to student supervision. (See APTA link for Medicare and Students)

Facilities are not allowed to bill under Medicare B for independent student delivered services. 

Students must be in the PT’s direct line of sight in Skilled Nursing Facilities in order to bill for the minutes of care given. 

Be sure to consult your facility for its interpretation of the Medicare rulings. 

Students can take advantage of other learning opportunities in a facility and may observe other disciplines providing care to patients. However, the student PT may not participate in the care of a patient without having a PT on site to supervise. 

Although students carry liability insurance, it does not remove the liability of the CI.

Texas Practice Act

Students are not addressed in the Texas Practice Act; therefore, they are an extension of your license.

Informed Consent

All patients have a right to know that a student is treating them. It is imperative that students introduce themselves as such and that patients give consent to be treated by the student.

Sexual Harassment

Sexual harassment is the most common complaint registered in Texas against physical therapists. Don’t put the student in any compromising situations. Teach them to be proactive and to select their choice of words carefully. Don’t let students treat a patient alone or unsupervised. Keep away from compromising situations.

Student as Employee

The contract stipulates specifically that an employer/employee relationship does not exist. Thus students are not eligible for worker’s compensation or other entitlements of employees of a site. If a student works as an aide while in PT school, the student’s school liability insurance does not cover the student when s/he is working as an aide. The school is also not responsible for the student’s performance when employed as an aide.

The American with Disabilities Act (ADA)

A facility cannot refuse to accept a student based on a documented disability. Academic accommodations have been made for the student and there should not be any unreasonable requests made to the site in order to accept a student.

Health Insurance Portability and Accountability Act HIPAA

The rules applying to healthcare in general that are applicable to student education are the transaction rule, security rule and privacy rule. 

The transaction rule deals with standardizing billing and coding procedures. 

The security rule refers to securing personally identifiable health care information. 

The privacy rule refers to sharing of patient medical information. 

Physical therapy concerns involve electronic medical records and maintaining personal health information private. The protected health information (PHI) practices must be provided to the patient on the first day of service. There are civil and criminal penalties for noncompliance.

</p>

<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
