<h3>Philosophy</h3>

<p>
The Consortium’s philosophy for PT clinical education centers around the clinical education experiences. These experiences are designed to develop clinical decision-making skills in the student PT. At the culmination of these experiences, the newly graduated PT should acquire all of the professional and patient care management skills to demonstrate safe and effective entry level skills in professional practice.
</p>

<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
<p><%=link_to "Next", planning_pages_players_path%>
