
			<h3>Philosophy</h3>
			<ul class= "nav nav-tabs nav-justified">
				<li class="tab active"><a href="#tab1" data-toggle="tab"><font color="black">Educational Experiences</font></a></li>
				<li><a href="#tab2" data-toggle="tab"><font color="black">Decision Making Skills</font></a></li>
				<li><a href="#tab3" data-toggle="tab"><font color="black">Outcomes</font></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<div class="panel panel-info">
  						
  						<div class="panel-body">
   							<ul class="list-group">
  								<li class="list-group-item">The Consortium’s philosophy for PT clinical education centers around clinical education experiences. </li>
   							</ul>
  						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab2">
					<div class="panel panel-info">
  						
  						<div class="panel-body">
  						 	<ul class="list-group">
  								<li class="list-group-item">These experiences are designed to develop clinical decision-making skills in the student PT.</li>
   							</ul>
  						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab3">
					<div class="panel panel-info">
  						
  						<div class="panel-body">
   							<ul class="list-group">
  								<li class="list-group-item">At the culmination of these experiences, the newly graduated PT should acquire all of the professional and patient care management skills to demonstrate safe and effective entry level skills in professional practice.</li>
   							</ul>
  						</div>
					</div>
				</div>
			</div>

			
<nav>
  <ul class="pager">  	
	<li>
		<%=link_to  planning_pages_tx_consortium_path do%>	
  			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  			Previous
		<% end %>
	</li>
   	<li>
		<%= link_to  planning_pages_apta_link_path do %>
			Next 
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		<% end %>
	</li>
   
  </ul>
</nav>

