<h3>PLANNING A CLINICAL EDUCATION PROGRAM: (Planning Home)</h3>

<p>
Purpose: To provide essential planning and preparation requirements for a successful clinical education program.

Clinical education immerses the student into physical therapy practice. The academic institution would not be able to produce physical therapists without the clinical education component. However, a clinical education program requires effective planning to be successful. The planning requires coordination from all parties involved: the academic institution, the clinical site, the clinical and academic faculty, and the students.
</p>

<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
<p><%=link_to "Next", planning_pages_tx_consortium_path%>
