<h3>PLANNING A CLINICAL EDUCATION PROGRAM: Players</h3>
<p>(Find me in app/views/planning_pages/players.html.erb)</p>

<p>

<b>ACCE/DCE Responsibilities</b>

The Academic Coordinator of Clinical Education or Director of Clinical Education is the liaison between the academic institution's physical therapist program and clinical facility.

The responsibilities include:

Representing the school’s philosophy and policies.
Providing pertinent information to the site.
Assigning appropriate students to the site.
Monitoring student progress.
Counseling with the student or clinical instructor as needed.
CCCE Responsibilities

The Center Coordinator of Clinical Education is the liaison between the clinical facility and the academic institution. 

The responsibilities include:

Communicating effectively between the site, schools and clinical instructors (CI).
Assigning students to the appropriate CI.
Assisting in planning learning experiences.
Providing training and evaluation of the CIs.
CI Responsibilities

The Clinical Instructor (CI) is the on-site supervisor of the student.

The responsibilities include:

Teaching by providing a variety of learning experiences.
Evaluating student progress (or lack thereof) by providing honest, objective feedback both in writing and orally.
Planning remediation or encouraging the student to attain a higher level of performance than initially expected.
Student Responsibilities

The responsibilities include:

Providing safe and effective patient care.
Actively participating in the learning process (including self evaluation).
Complying with facility policies.
Meeting the school’s grading criteria.

</p>

<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
<p><%=link_to "Next", planning_pages_apta_link_path%>
