<h3>Scheduling Students</h3>

<p>
The PT program sends a request for the dates of their clinical experiences to be offered in the following year. Most PT programs, including the programs in the Consortium, comply with a Voluntary Uniform Mailing Date. Early March is the designated mailing date.

The site will provide the requested information to the PT program regarding types of clinical experiences and dates for which they can accommodate students.

The ACCE/DCE sends the packet of information regarding the student to the CCCE.

The CCCE in turn, is responsible for scheduling students on-site:

Students can be placed with one CI.

Two part-time CIs

Two or more students can be placed with one CI.

Current research provides positive evidence for collaborative learning outcomes.
</p>


