<h3>PLANNING A CLINICAL EDUCATION PROGRAM : Site Development</h3>
<p>Find me in app/views/planning_pages/site_development.html.erb</p>

<p>

When a clinical site’s PT department agrees to provide clinical instruction, there are several aspects that go into the process and planning stages. The first step is for the CCCE to complete the APTA Clinical Site Information Form (CSIF).

This form can be sent electronically or by hard copy to the ACCE/DCE for review. You can save this electronic version and send it to any PT or PTA program that requires it-it is a national CSIF form.

The APTA has created a repository for CSIF forms (http://www.apta.org/CSIF/) and you can upload them directly to that data bank. HOWEVER-PT programs must PAY to access these CSIF forms-they are not made available to the schools without a yearly fee. At this time, the PT Programs in Texas do not subscribe to this process. So please note that if you upload this form to the APTA website, Texas PT programs will not be able to access it. 

Based on the information from the CSIF, the ACCE/DCE decides if the site meets the needs of the academic institution. A personal site visit is then warranted by the ACCE/DCE. 

After both parties are in agreement, a contract must be negotiated between the academic institution and the site. 

Typically, academic institutions have their own contractual agreements. However, if the site requires a corporate contract, both legal departments will review the contract to ensure that all requirements for each party are met. 

Once both parties sign the contract, the site should be ready to accept a student.
</p>


<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
<p><%=link_to "Next", planning_pages_scheduling_path%>