<h3>PLANNING A CLINICAL EDUCATION PROGRAM : Texas Consortium</h3>
<p>Find me in app/views/planning_pages/tx_consortium.html.erb</p>

<p>

In Texas, most of the physical therapist programs belong to the Texas Consortium for Physical Therapy Clinical Education, Inc. The Consortium was formed in 1977 following a grant award to develop a clinical education evaluation tool. This was the birth of the original The Blue MACS (Mastery and Assessment of Clinical Skills).
 </p>

<p><%=link_to "Home", pages_home_path%>	</p>
<p><%=link_to "PlanningHome", planning_pages_planning_home_path%></p>
<p><%=link_to "Next", planning_pages_philosophy_path%>
