

<h3>Case 1: Use the following case to determine answers to the questions below.</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sally</h3>
  </div>
  <div class="panel-body">
Sally is a CI in a large acute care hospital with 14 PTs and 5 PTAs on staff. She is expecting her first student in 2 weeks. This will be the student’s first clinical experience, which is 8 weeks in length. Sally’s site has many learning opportunities in patient care: 1) wound care, 2) critical care, 3) neurology, 4) orthopedics, 5) cardiopulmonary and 6) pediatrics, all of which are staffed by clinical specialists. Also, there are several specialty clinics including juvenile rheumatoid arthritis, amputee, cleft palate, specialized seating, and muscular dystrophy among others.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">The Student</h3>
  </div>
  <div class="panel-body">
The student has been in school for one year and has all of the basic science course work. She also has had introductions to all of the systems: Cardiopulmonary, neuromuscular (NM), musculoskeletal (MS) and integumentary. She has not completed all of her NM or MS course work. She has been trained in all of the basic patient examinations and basic patient management interventions.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">The CCCE</h3>
  </div>
  <div class="panel-body">
The CCCE has sent a letter of introduction to the student to let her know Sally will be her CI. The letter also included all of the basic requirements for the first day. Answer the following questions.
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', planning_case1s_path %>
