<div class="panel panel-default">
  <div class="panel-heading">Generational Differences</div>
  <div class="panel-body">
    It is almost stereotypical to imagine a teenager and an adult parent having a conversation where it is obvious that they are not communicating on the same plane (maybe even the same planet!) There are definitely differences among the generations in how and when they speak and what they choose to say. How each age cohort was raised, how they view authority figures, how they have learned to get things done—all these differ among those who came of age during war years, during times of social unrest and upheaval, during economic depressions and during decades of record-shattering immigration.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Group Comparison</div>
  <div class="panel-body">
Although it is outside the scope of this presentation to address all the differences there are among the generations and the impact this is having in schools and in the work force, the interested reader should refer to many of the sources listed in the Bibliography following this section. We will cover just a few of the factors which may lead to “fractured” cross-generational communication. For our purposes, the “older” worker will be those individuals who were born from 1935 to 1960 and the “younger” person will have been born from 1961 to 1981. The commercial and academic literature is beginning to contain more information on that generation born after 1982, but because the majority of these people have yet to enter the work place in full force, most of the available literature concerns differences in learning styles.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Group Comparison</div>
  <div class="panel-body">
<table class="table">
<tr>
	<th>Older (Born 1935 - 1960)</th><th>Younger (Born 1961 - 1980)</th>
</tr>
<tr>
	<td>Believes in teamwork</td><td>Works best alone</td>
</tr>
<tr>
	<td>Can have long preambles to presentations or discussions</td><td>Has a more abrupt speech pattern, wants to get to the point</td>
</tr>
<tr>
	<td>Does not mind long meetings</td><td>“If you can’t say it in an hour, put in on a tape.”</td>
</tr>
<tr>
	<td>Likes to process and talk about ideas and issues</td><td>“Just tell me what you want done and I’ll go do it.”</td>
</tr>
<tr>
	<td>Cares about what others think</td><td>Cares little what others think</td>
</tr>
<tr>
	<td>Highly values participation and consensus</td><td>Does not participate in many groups, attend meetings or need to hear others’ opinions</td>
</tr>
<tr>
	<td>Believes people can be motivated by a stirring, well-expressed idea</td><td>Believes motivation is like pushing on the end of a string</td>
</tr>
<tr>
	<td>Recognition means a great deal; wants acceptance, popularity and group identity</td><td>Doesn’t believe recognition is meaningful and isn’t needed. “I know what kind of job I am doing.”</td>
</tr>
<tr>
	<td>Is used to a large, competitive crowd</td><td>Believes that computers and alone time can be just as rewarding</td>
</tr>
<tr>
	<td>Told by parents, “You must get along with people. Be nice, well-liked, cooperative”</td><td>Parents encouraged individualism</td>
</tr>
<tr>
	<td>Workaholic</td><td>Wants balance of family, friends, leisure and work</td>
</tr>
<tr>
	<td>Values face time</td><td>Does not value face time</td>
</tr>
<tr>
	<td>Has an inherent respect for authority</td><td>Respect for authority is not automatic, it must be earned</td>
</tr>
</table>
  </div>
</div>