<div class="panel panel-default">
  <div class="panel-heading">Gender Differences</div>
  <div class="panel-body">
Men typically take up more space with their physical presence than do women, and this can be unrelated to body size. Airports are wonderful places to observe this phenomenon. When two or more men sit down in the airport terminal to await their flight, watch where they sit: in seats next to each other, or is there a seat in between? One man may stand rather than sit right next to another, even if they are sharing the same conversation. Arms are outstretched over adjacent seats and legs may stretch out into the walkway. Compare this behavior with that of 2-3 women who are traveling together. They are much more likely to sit close together, taking up a much smaller space. Once on the air plane, observe how a man removes his suit coat in a crowded aisle, vs. how a woman removes hers (if she even does remove it.)
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Direct vs Indirect Communication</div>
  <div class="panel-body">
<p>
Men typically communicate more directly. They speak in declarative sentences, using fewer words and fewer clarifying or descriptive phrasing. They see this way of speaking as getting to the point quickly. However, this type of communication can be seen as dictatorial, even rude, by their female co-workers or family members.
</p>
<p>
Women’s language typically consists of more indirect phrasing, more “suggestions” than “demands”. Although this may seem to be a more polite way of communicating by the woman speaker, it may be misleading. If the female Clinical Instructor intends that an action take place, and the male student hears the activity as a “suggestion”, he may not act accordingly. When the CI becomes angry that her directive was not carried out, the student can feel blindsided, and unfairly criticized. Western societies seem to place a higher value on directness than other cultures of the world, where elaborate systems of indirectness are more the norm.
</p>
<p>
Richard Ladyshewsky describes difficulties that can arise in cross-cultural supervision experiences in the clinical setting between the Clinical Instructor and the student with the following excerpts from interviews. These interactions were noted between Southeast Asian students and CIs at the Curtin University of Technology in Perth, Western Australia:
</p>
<p>
Student: “ Supervisors expect us to bring forward our own ideas whereas we believe that valuing input from others is more important…We are not encouraged to ask questions during our education [in Southeast Asia] whereas in Australia students are expected to be more independent and active in their learning.”
</p>
<p>
Student: “One’s own ideas are not as important as what the actual facts are or what is accurate.”
</p>
<p>
Student: “It is impolite to be assertive or aggressive with your supervisor. You are taught in school [in Southeast Asia] "not to talk to your teacher directly.”
</p>
<p>
CI:  “The [Southeast Asian] students don’t appear to personalize the problems as their own—they throw it back at you. Since you identified the problem you must solve it for them. It is not your typical adult learning situation—you are here to tell them what to do.”
</p>
<p>
CI: “The patients say something and they [Southeast Asian students] don’t pick up on the patient’s comment—so they skip it and go on to something else. They may nod approval even though they don’t understand what has been said. I have to be there more often to make sure they process everything.” (Leavitt 1999)
</p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Rapport Talk vs. Report Talk</div>
  <div class="panel-body">
<p>
Deborah Tannen coined this phrase to distinguish communication styles between genders. Males converse to give/get information, in other words, to “report”. Females converse for this reason as well, but it is not the primary reason. Their communication is also meant to establish connections, to build relationships, to form bonds. 
</p>
<p>
Dr. Tannen states that men expect to do things together and don’t feel anything is missing if they don’t have heart-to-heart talks all the time. If they do have heart-to-heart talks, the meaning of those talks may be opposite for men and women. To many women, the relationship is working as long as they can talk things out. To many men, the relationship isn’t working out if they have to keep working it over. (Tannen 1986)
</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Troubles Talk</div>
  <div class="panel-body">
Women are more comfortable talking about things that bother them. In certain situations, such as in the work place, care should be taken so that these conversations or “troubles talk” do not give the impression that the woman cannot handle difficult situations, or is always under stress from her personal life. Such perceptions may lead the man to conclude that the woman is less capable of handling her clinical or work responsibilities. Male co-workers may even offer solutions to problems that are unsolicited—something the woman may resent. She doesn’t necessarily want him to “fix” the problem. Perhaps she has already considered and rejected the solutions he is offering. In contrast, men often complain about a woman’s refusal to take action to solve the problems, yet continue to complain about them.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Interruptions</div>
  <div class="panel-body">
<p>
Males are typically more tolerant of and commit more interruptions during all types of conversations than do women. This is not seen as rude, but simply a way to either control the conversation, to demonstrate authority or simply to play a prominent role in the conversation.
</p>
<p>
An easy way to imagine how this plays out is to consider the “conversation ball” and how the game is played. In male conversations, the participants are playing basketball. The object is to take and maintain possession of the ball, weaving in and out, fending off all attempts to grab the ball, until the one in possession is ready to send it flying toward the basket.
</p>
<p>
The female conversational game is more typically that seen in tennis. In tennis, the ball goes back and forth across the net: my turn, your turn, my turn, your turn. In fact, one player actually serves the ball to the other player and gives them the opportunity to hit is back.
</p>
<p>
Because females do not typically interrupt as often as males, women can interpret interruptions as rudeness, a lack of respect, or a dominating behavior. A woman may stop talking rather than to continue to try to maintain control of the conversation. Relinquishing control of the conversation may appear to others that the woman is less sure of what she is saying, when this may not be the case.
</p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Detail Oriented vs Big Picture</div>
  <div class="panel-body">
<p>
This disparity can be noted in how many words a woman uses, in how much detail she discusses an issue. The woman may try to present not only the idea, but also the “flavor” or the “gestalt” of the concept. This involves more descriptors, more words. She sees this as accurately portraying the situation. A man may become distracted with all of the details and want her to get to the point. She may get angry that he is not really listening, or is too impatient.
</p>
<p>
It is important to observe your audience, to try to sense when the audience, whether it is a group or an individual, is losing focus. Reporting in a team meeting may call for “just the facts”, whereas a family conference may require more attention to the details, to feelings, to the nuances of what is going on.
</p>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Listening Behaviors</div>
  <div class="panel-body">
Women tend to make greater use of “encouragers” when listening. These are such verbalizations as “go on”, “hmmm”, “I see”. They can also be gestures such as those noted above: nodding, smiling and head tilting. These behaviors are all designed to let the speaker know that the woman is listening and is a part of the conversation. If she stops these behaviors, the speaker should realize that the listener is ready for the conversation to end. Most men do not use these encouragers to the same extent. The may remain silent and still. They may also not maintain as much eye contact as a female listener would. This does not necessarily mean that the man is not listening, but that may be how the female speaker interprets this lack of interaction. Male students should analyze their listening behaviors, to ensure that they are encouraging and open for their patients.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Problem Solving and Consensus Seeking</div>
  <div class="panel-body">
According to Deborah Tannen, women expect decisions to be discussed first and made by consensus. “They appreciate the discussion itself as evidence of involvement and communication.” When problems seem insurmountable, it can help a woman to process the situation by discussing the problem with friends, family or co-workers—even if there is no obvious solution to the problem. She may know there is no solution to the problem, and isn’t expecting someone to offer a suggestion or solution—it just helps to talk about it. This type of conversation is very frustrating to many males. Men can feel oppressed by lengthy discussions. They feel confined if they cannot act without first discussing an issue. Males do NOT feel comforted by continuing to discuss unsolvable problems; whereas women do. A sense of closure can be achieved by feeling that the group has considered all aspects of an issue several times, that consensus has been reached.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Relationship Defined by Sharing vs. Activities</div>
  <div class="panel-body">
  <p>
Male relationships are typically based on activities. They form bonds by participating in sporting and leisure past times with others. Their conversations focus on these activities: planning them, reminiscing about them, etc. While female relationships certainly include such conversations and shared activities, their relationships also depend on discussions and the sharing of feelings, opinions, dreams. Talking is how female bonds are formed and maintained. Action is how male bonds are formed, even if it’s not always friendly action. Researchers have discovered that many high school male friendships began as some type of competition, some even through fighting. Rarely, if ever, do they find a female friendship that began this way.
</p>
<p>
Females who want to succeed in a male-dominated profession need to become comfortable with activities that interest their male co-workers, especially if they want to move up the corporate ladder. Becoming competent at golf or tennis may be of greater necessity—and produce a bigger payoff-- than attending a seminar on interviewing skills.
</p>
  </div>
</div>