<p>Consider what different cultures have to say about calling attention to oneself:
<ul>
<li>The nail that sticks out gets hammered back in (Asian)</li>
<li>The quail that is quiet in the bush is the bird that gets to live another day (unknown)</li>
<li>The squeaky wheel gets the grease. (American)</li>
</ul>
</p>
<p>
One could probably argue that both gender and generation can also present a cultural division or difference. Each gender is raised within a distinct “culture” as is each generation. But for the purposes of this presentation, we will consider “culture” to represent differences that occur due to the area of the world where we grew up. 
</p>
<p>Cultural differences occur in individuals who have grown up in different countries, in rural versus city areas and from one ethnicity to another. Likewise, the culture of the northeast part of the United States can certainly produce differences in communication styles from that noted in the culture of the deep South. How these factors impact our efforts (and our relative successes or failures) at communication will now be considered.
</p>
<p>
Thanks to such authors as John Gray and Deborah Tannen, noted linguist at Georgetown University in Washington D.C., differences in gender communication styles have become a topic of enthusiastic discussion. Anyone who has ever lived out of state and called home can attest to notable differences between mom’s and dad’s conversations. Mom’s spoken (and written) communication is filled with details of family and friends, inquiring about their lives, health and feelings. There is more comfort with silence while each person thinks of other interesting tidbits to share. Dad’s much shorter and direct conversations include weather reports and a reminder to rotate the tires. A silence in the conversation is quickly followed by its ending, or “Let me get your mother on the phone.”
</p>