<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">List the Key Objectives for Your Facility</h3>
  </div>
  <div class="panel-body">

Now, create a list of key objectives for your facility. Bring these with you when you attend Part 2 of this course (live course). You may be as specific or global as you choose, as long as the objectives are measurable. In fact, a student may benefit from writing personal behavioral goals that represent the steps he/she needs to take to meet a facility goal.

  </div>
</div>
