<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">Example facility objective for final internship:</h3>
  </div>
  <div class="panel-body">The student will complete an initial examination, evaluation and written plan of care for a patient with low back dysfunction within one hour.

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">A – Actor or audience.</h3>
  		 
  </div>
  <div class="panel-body">
  	The student (implied)
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">B – Behavior. </h3>

  </div>
  <div class="panel-body">
Will complete everything needed for the intial visit, including paperwork
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">	C – Condition.</h3>
  
  </div>
  <div class="panel-body">
Patients with low back dysfunction
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">D – Degree.</h3>
  
  </div>
  <div class="panel-body">Within an hour

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title"> E – Expected time frame. </h3>

  </div>
  <div class="panel-body">
By the end of the internship. The student may initially take one hour to do the portion of the exam with the patient present and an hour to write it up initially. By the end of the final internship, the student’s efficiency is stressed and the time frame is important.
  </div>
</div>


