<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title"> Example of a student’s weekly goal:</h3>
  </div>
  <div class="panel-body">Create a home exercise program for a patient following bilateral total knee replacement.

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">A – Actor or audience.</h3>
  		 
  </div>
  <div class="panel-body">
  	The student (implied)
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">B – Behavior. </h3>

  </div>
  <div class="panel-body">
 Create home exercise program
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">	C – Condition.</h3>
  
  </div>
  <div class="panel-body">
Bilateral knee replacement (Let’s say the hospital already had a program for unilateral knee replacements that referred to the “surgical leg” and the “nonsurgical leg”)
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">D – Degree.</h3>
  
  </div>
  <div class="panel-body">
This is implied in this example. The CI will check the home program for appropriateness and if so, the student will meet the goal.

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title"> E – Expected time frame. </h3>

  </div>
  <div class="panel-body">
To be completed by the end of the week
  </div>
</div>

