

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">Guiding Learning Through Goals and Objectives</h3>
  
  </div>
  <div class="panel-body">When a student struggles in clinical education, it usually means that expectations have not been communicated very well. The CI’s expectations can be defined at the beginning of the clinical experience in a set of written objectives. The student’s expectations can be defined in a set of personal goals. Both of these can be written in the format that is very similar to how PTs write patients’ functional goals. Try it using the ABCDE method!

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">A – Actor or audience. </h3>
  		
  </div>
  <div class="panel-body">
  	Who is the subject of the goal? For our purposes, it is the student, so it may be stated at the beginning of the list or omitted.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">B – Behavior. </h3>
  		
  </div>
  <div class="panel-body">
  This is always a verb. Consider different domains for behaviors (i.e. cognitive, psychomotor, affective).
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">C – Condition.</h3>
  	
  </div>
  <div class="panel-body">
 This allows you to narrow the focus if needed. (See examples)
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title"> D – Degree.</h3>
 
  </div>
  <div class="panel-body">
 This makes your goal/objective measurable.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title"> E – Expected time frame. </h3>

  </div>
  <div class="panel-body">
Is it at the end of the treatment session, end of the week or end of the clinical experience? The expected time frame can head the list of goals/objectives.
  </div>
</div>


