<div class="panel panel-info">
  	<div class="panel-heading">
    	<h3 class="panel-title">Please complete the Clinical Teaching Survey:</h3>
  	</div>
  	<div class="panel-body">
		<%=image_tag "Survey of My Clinical Teaching.pdf"%>
	</div>
</div>

<div class="panel panel-info">
  	<div class="panel-heading">
    	<h3 class="panel-title">Note</h3>
  	</div>
  	<div class="panel-body">
		This survey contains items that have been identified as characteristics of clinical teachers. Please rate yourself on each item. This will help you develop a self assessment profile of your clinical teaching. Print a blank copy of the survey and rate yourself again in 6 months (or after 2-3 students). Note areas of improvement and areas to work on. Clinical teaching is a learning process, too!
	</div>
</div>

