<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Learning Involves:</h3>
  </div>
  <div class="panel-body">
   	<ul>
   		<li>A change in human performance.</li>
   		<li>An interaction with the environment.</li>
   		<li>Determination that learning has occurred (evaluation).</li>
   	</ul>
  </div>
</div>


