<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Aspects of Recall</h3>
  </div>
  <div class="panel-body">
   	<div class="table-responsive">
   		<table class="table">
   			<tr>
   				<th>Recall:</th>
   				<th>7 hrs. later</th>
   				<th>3 days later</th>
   			</tr>
   			<tr>
   				<td>Tell</td>
   				<td>70%</td>
   				<td>10%</td>
   			</tr>
   			<tr>
   				<td>Show</td>
   				<td>72%</td>
   				<td>20%</td>
   			</tr>
   			<tr>
   				<td>Show & Tell</td>
   				<td>85%</td>
   				<td>65%</td>
   			</tr>
   		</table>
   			
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Activity</h3>
  </div>
  <div class="panel-body">
During orientation you have given information that you expect the student to recall throughout the clinical experience. From the chart, consider how you would structure orientation to maximize a student's ability to remember important information.
  </div>
</div>


