<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Instruction Involves:</h3>
  </div>
  <div class="panel-body">
   	<ul>
   		<li>“…deliberate arrangement of events to facilitate a learner’s acquisition of a goal.” (Driscoll, 1994)</li>
   		<li>Age related: the approach to instruction may differ based on the individual's age. Review the Generation Table in the Communications module.</li>
   		<li>Location related: Instruction methods used in the clinic may be very different than the instruction in a classroom setting.</li>
   	</ul>
  </div>
</div>