<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">How Do People Learn?</h3>
  </div>
  <div class="panel-body">
   	<ul>
   		<li>1% Taste</li>
   		<li>1.5% Touch</li>
   		<li>3.5% Smell</li>
   		<li>11% Hearing</li>
   		<li>83% Seeing</li>
   	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Activity</h3>
  </div>
  <div class="panel-body">
  Consider how you would set up learning experiences using the different senses.
  </div>
</div>












