<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Suggested Clinical Experience Structure</h3>
  </div>
  <div class="panel-body">
   <p>In order to derive the most from a clinical education experience, there must be some structure or blueprint guiding the process. The expectation is that there should be a natural flow from more to less structure as the learning experiences progress. The following is an attempt to chronologically outline the student's progression through a clinical experience.</p>
<p>
This template is offered only as an example. Individual situations warrant modification through student and CI collaboration.
</p>
  </div>
</div>