<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Conclusion of Teaching and Learning</h3>
  </div>
  <div class="panel-body">
  	Give a man a fish and feed him for a day. 
  	Teach a man to fish and feed him for a lifetime. (Chinese Proverb)
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Your Role as CI</h3>
  </div>
  <div class="panel-body">
In your role as clinical instructor you will be facilitating the development of future professionals. By understanding basic principles of teaching and learning, you will be able to assist the learner in developing good clinical skills as well as good self-regulation of learning skills.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Final Assessment</h3>
  </div>
  <div class="panel-body">
This concludes the module on Teaching and Learning. If you have completed all the modules, you may now complete the Final Assessment. In the final assessment you will apply the concepts of the four modules in answering the questions.  
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Other Three Modules</h3>
  </div>
  <div class="panel-body">
If you have not completed the other three modules (Planning, Evaluation, Communication), please return to the CI home page and review them before taking the quiz.</div>
</div>











