<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Ultimate Goal of the PT Educational Program</h3>
  </div>
  <div class="panel-body">
   <p>The ultimate goal of the total PT educational program is to produce graduates who demonstrate behaviors that are entry-level. These graduates should be capable of self-regulating their behaviors in order to maintain competency in the field and to develop professionally. Self-regulated learning (SRL) is a concept of learning where-by an individual self-monitors, self-assesses, and self-reacts to the information about his/her performance in order to determine the course of action needed to reach personal goals. The following concepts highlight some aspects of SRL.
   </p>
   <ul>
<li>Motivation: individual’s thoughts, beliefs, and emotions that influence the completion of tasks</li>
<li>Components of motivation: expectancy, value, and perception of abilities</li>
<li>Self-efficacy—belief that one has the ability to accomplish a task</li>
<li>Self-regulation—planning, monitoring and regulating one's own behavior/performance</li>
</ul>
  </div>
</div>