<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Levels of Development of Self-Regulation</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>Observation</li>
    	<li>Emulation</li>
    	<li>Self-controlled</li>
    	<li>Self-regulated</li>
    </ul>
  </div>
</div>