<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Social Cognitive Model of Self-Regulatory Development</h3>
  </div>
  <div class="panel-body">
   <div class="table-responsive">
  <table class="table">
   	<tr>
   		<th>Level of Development</th>
   		<th>Social Influences</th>
   		<th>Self Influences</th>
   	</tr>
   	<tr>
   		<td>Observational</td>
   		<td>Models <br/>Verbal Description</td>
   		<td>&nbsp;</td>
   	</tr>
   	<tr>
   		<td>Emulative</td>
   		<td>Social guidance<br/>Feedback (see Communication Module)</td>
   		<td>&nbsp;</td>
   	</tr>
   	<tr>
   		<td>Self-controlled	</td>
   		<td>&nbsp;</td>
   		<td>Internal Standards<br/>Self-reinforcement</td>
   	</tr>
   	<tr>
   		<td>Self-regulated</td>
   		<td>&nbsp;</td>
   		<td>Self-regulatory processes<br/>Self-efficacy Beliefs</td>
   	</tr>
   	
  </table>
</div>
<p>
Table from Zimmerman & Schunk, 2001, p. 143
</p>
  </div>
</div>