<h1>PART 1 - CLINICAL INSTRUCTOR CERTIFICATION COURSE</h1>
<p>Find me in app/views/course/home.html.erb</p>

PART 1 - CLINICAL INSTRUCTOR CERTIFICATION COURSE

Welcome to the Texas Consortium's Basic Clinical Instructor Certification Course. Prior to starting the learning modules, read the Case Scenarios. You may want to print the scenarios to reference as you work through the learning modules.

Please read the following instructions carefully for successful completion of this course. After all steps are completed you will receive an automated certificate for 0.4 CEU. You will need to print & retain a copy of the certificate for your records.

1. Review all course material prior to taking the quiz. 
2. Complete the evaluation of the course; this must be completed for the Consortium to verify your course certificate.
4. Go to the link that you received via email for your quiz. You must answer at least 75% of the multiple choice questions correctly to receive a CEU certificate. 
5. It is imperative that you PRINT your certificate or save your certificate for future printing.

You may download and print the course content in its entirety in Adobe PDF format by clicking here if you do not wish to view it all online.

We recommend that you complete the modules in the order that they are presented on the left. When you have completed the modules, you will complete a final assessment for course credit. 

On-line course authors: Carolyn Utsey, PT, PhD; Loretta Dillon, PT, DPT; Peggy B. Gleeson, PT, PhD

Planning a Course
