<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Skills</h3>
  </div>
  <div class="panel-body">
<p>The entry level skills in the PT MACS are skills 1-19.
</p>


<p>
The Professional Practice skills are 1-12 and include the Generic Abilities as the first 10 skills. These skills are the professional behavior skills that are inherent in the successful student PT. Safety and colleague education are also part of professional practice.
</p>

<p>The Patient Management skills are based on the Guide to PT Practice (skills 13-17.9) These include:

<ul>
<li>History and Systems Review.</li>
<li>Tests & Measures, Evaluation and Diagnosis.</li>
<li>Plan of Care/Prognosis.</li>
<li>Interventions.</li>
</ul>
</p>

<p>
The Practice Management skills are Delegation and Supervision and Management/ Administration. Practice management skills are somewhat new to the expectations of entry level therapists. Again, these skills are based on the Guide.
</p>

<p>
Site specific skills are those learning opportunities found less frequently and are categorized the same as the entry-level skills.
</p>

  </div>
</div>
