<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Forms</h3>
  </div>
  <div class="panel-body">
   <p>The forms that need to be completed are found in the last section. The CI must complete the Progress Report. This is a 5-page report that represents the summative midterm and final evaluations. The sections can be completed in bullet format and the skill ratings are summarized on a grid identifying all of the skills. Also, there is a visual analog scale that the CI completes at the final evaluation.
</p>


<p>
The student must complete the <%=link_to "Student Site Evaluation Form", "http://www.apta.org/Educators/Clinical/SiteDevelopment/" %>. This is an APTA generated report summarizing the student’s perspective of the experience. This form is typically kept in a folder at the academic institution for other students to review when selecting future clinical assignments.
</p>
  </div>
</div>



