<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">PT MACS Contents</h3>
  </div>
  <div class="panel-body">
<p>The contents of the PT MACS include:
<ul>
<li>Instructions</li>
<li>List of Skills</li>
<li>Individual Skills</li>
<li>Forms</li>
</ul>
</p>

<p>
The skills are divided into “entry level skills” and “site specific skills”. The site specific skills are those learning opportunities that are not offered at all sites.
</p>

<p>
The entry-level skills are consistent with the Normative Model:
<ul>
<li>Professional Practice</li>
<li>Patient Management</li>
<li>Practice Management</li>
</ul>
</p>

<p>
The Site Specific Skills are also divided into the above categories.
</p>

<p>
In the PT MACS, there is a new Facility Identification form that allows for the CI to better identify in writing the name and initials of the facility and the CI.
</p>

  </div>
</div>


