<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Skill Sheets</h3>
  </div>
  <div class="panel-body">
    The PT MACS has space provided for rating student performance by both the student and CI at midterm and final evaluations. Ratings are based on OBJECTIVES applicable to the skill at the facility. We have streamlined the objectives in the PT MACS and reduced the redundancy that was noted in The Blue MACS. The objectives are based on Bloom’s taxonomy to reflect the level of learning expected for individual skills. There are boxes for narrative comments on each of the skill sheets whether documenting excellent performance or not independent.
  </div>
</div>



