
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">EVALUATING STUDENT PERFORMANCE USING PT MACS</h3>
  </div>
  <div class="panel-body">
Purpose: To provide a working knowledge of the use of the student performance evaluation tool, the PT MACS in order to allow for documenting student clinical performance.
  </div>
</div>