<ul class="list-group">
  		<li class="list-group-item">Once on-site, the students need to feel welcomed by the CI. </li>
  		<li class="list-group-item">The CI should establish a professional relationship and open lines of communication</li>
   </ul>