   <ul class="list-group">
   	<li class="list-group-item">The ACCE/DCE should provide the CCCE with the following information:
   		<ul>
   			<li>Prior coursework the student has had</li>
  			<li>Which clinical experience this is, and the type preferred</li>
  			<li>The PT program’s grading criteria</li>
  			<li>The student biographical information</li> 
  		</ul>
  	</li>
  	<li class="list-group-item">All of this information should assist the CCCE in assigning the student to the appropriate CI.</li>
   </ul>