   <ul class="list-group">
   		<li class="list-group-item">The student will need an orientation to the facility, including the following:
  		<ul>
   			<li>Facility policies and procedures</li>
  			<li>Documentation requirements</li>
  			<li>Other need to know information</li>
  			 
  		</ul>
  		</li>
   </ul>