   <ul class="list-group">
   
   		<li class="list-group-item">The initial meeting with the CI should include:
   			<ul>
   				<li>Review of the clinical education tool</li>
  				<li>Setting goals for the clinical experience</li>
  			</ul>
  		</li>
  		<li class="list-group-item">If the CI gives too much information in one sitting, the student may not remember all of it. </li>
  		<li class="list-group-item">Remember how overwhelming the first clinical experience can be. The first day should be reserved for “need to know” information.</li>
   </ul>