   <ul class="list-group">
  		<li class="list-group-item">The CCCE should contact the student via mail, e-mail or phone. The student feels welcomed with a letter of introduction telling him/her about the upcoming clinical experience.</li>
  		<li class="list-group-item">The “need to know” information should be shared in writing so the student may refer back to it if necessary. </li>
  		<li class="list-group-item">The clinic policies, hours and expectations for performance should be given to the student prior to the start of the clinical experience.</li>
  		<li class="list-group-item">Some sites have a student questionnaire they like to have returned by the student prior to the clinical experience.</li>
   </ul>