<h3>TO RECEIVE CREDIT FOR THIS MODULE</h3>
<p>(All activities in this module must be completed.)
</p>
<p>
Design a student orientation check-list that would be applicable to your current employment site. (post on form below)
</p>

<%= render 'form' %>

<%= link_to 'Back', planning_credits_path %>
