<h4>For Credit: Answer the two questions below, then click "submit".</h4>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Student Orientation Check-list</h3>
  </div>
  <div class="panel-body">
Design a student orientation check-list that would be applicable to your current employment site. After filling in the two parts below, click "submit:
  </div>
</div>

<%= render 'form' %>

<!--
<%= link_to 'Back', planning_credits_path %>
-->