<div class="page-header">
  <h2>Barb Melzer Exemplary Clinical Education Site Award<small></small></h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Exemplary Clinical Education</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">In an effort to recognize, support and encourage clinical facilities that provide an exemplary clinical education experience for physical therapy students, the Texas Consortium for Physical Therapy Clinical Education, Inc (The Texas Consortium) has initiated the Award for Exemplary Clinical Education Site. This honor will be awarded to the clinical education site that has demonstrated a consistent record of providing clearly exceptional clinical mentoring and education for physical therapy students from the state of Texas.</li>
  	<li class="list-group-item">This award will be given to the individual facility, clinic, department or unit that demonstrates their achievement of the criteria described below. It is NOT given to an entire health system, corporate entity or medical center facility. Both large and small clinical facilities are encouraged to apply.</li>
  	<li class="list-group-item">The clinical facility that earns the status of Exemplary Clinical Education Site will receive a plaque suitable for display, and the award notice will be posted on the Texas Consortium website. An announcement of this award will also be published in the Synergy, as well as in PT Magazine and the Journal for Physical Therapy Education.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Notification of Award</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Notification of this award will be sent to the recipient in August and the presentation of this award will take place at an appropriate venue.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Process and Deadlines</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Clinical instructors, Center Coordinators of Clinical Education, Directors of Physical Therapy/Rehabilitation Departments are encouraged to read the criteria and application process for this award. The deadline for receipt of applications is June 1 each year. All submissions should be sent electronically to Dr. Peggy Gleeson (pgleeson@twu.edu).</li>

   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Criteria</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">100% APTA membership of all eligible physical therapy Clinical Instructors.</li> 
  	<li class="list-group-item">Eligible physical therapy Clinical Instructors are those PTs who have been designated by the facility as Clinical Instructors for physical therapist students.</li>
  	<li class="list-group-item"> Those PTs who provide education for PTA students or who do not directly mentor PT students are exempt.</li>
  	<li class="list-group-item"> A minimum of one current Clinical Instructor in the facility has previously received the Texas Consortium's Outstanding Clinical Educator Award. The CI did NOT have to be employed by this clinical facility when s/he received the award. If an individual is currently the CCCE but received the Outstanding Clinical Educator Award in the past when he/she was acting as a Clinical Instructor, this would also fulfill this criterion. The clinical facility must provide clinical education experiences for three (3) or more Consortium member schools . Describe how you meet this criterion.</li>
  	
  	<li class="list-group-item">A minimum of 50% of all eligible PT Clinical Instructors must have received certification by the Texas Consortium Clinical Instructor Certification course or a comparable course (eg: APTA CIECP). Complete table below.</li>
  	<li class="list-group-item">Provide a detailed narrative that addresses the following:
Describe the facility's mission and vision for clinical education.
Provide a detailed description of an established clinical curriculum.
Provide a description of an organized, on-going program of professional development, such as journal clubs, rounds, inservices, where evidence based practice is addressed, commitment of financial support for courses related to clinical education, etc.
Describe other methods by which your facility fosters clinical excellence among the staff.
Describe how your clinical faculty (CIs and CCCEs) demonstrate support of the APTA's Vision 2020 in relation to your clinical education program.
Describe the requirements and process by which a physical therapist becomes a Clinical Instructor in your facility.
Describe your process of mentoring CIs.
What models of clinical education has your facility provided in the past (eg: 1:1, 2:1, 3:1, 1:2, etc)?
Describe, in detail, a challenge related to your clinical education program and how you addressed this challenge (eg: staffing issues, student cancellations, reimbursement issues, productivity issues, etc.).
Describe, in detail, an individual student-related clinical education challenge that your facility has faced in the past. How was it addressed? Provide a reflection of how effective your chosen method(s) were and what was learned from this situation. Do not reveal student or program identification information.
Describe why you believe that your clinical facility exemplifies Excellence in Clinical Education</li>
  	<li class="list-group-item">Include two (2) letters of support or other documentation (eg: past student evaluations) from current or prior students that support your application.</li>
  	<li class="list-group-item">Include a current Clinical Site Information Form.</li>
  	<li class="list-group-item">Click here for an application.</li>
   </ul>
  </div>
</div>

