<div class="page-header">
  <h2>Barb Melzer Exemplary Clinical Education Site Award<small></small></h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Dr. Barbara Melzer, PT, PhD, DPT, FAPTA
</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">
  	<%= image_tag(root_path << "BarbMelzer.jpg", :alt => "Barb Melzer Photo") %><br/>
  	
  	
  	Dr. Barbara Melzer was an active participant in physical therapy practice and education for 38 years. She served as the Texas Physical Association President and Chief Delegate. She served on the American Physical Therapy Association (APTA) Board of Director and as APTA Secretary, as well as the Chair of the APTA Nominating Committee. She also served as an officer of the APTA Education Section and Commissioner on the Commission on Accreditation for Physical Therapy Education (CAPTE) as a Team Leader. She was a co-editor of the Normative Model of Physical Therapist Professional Education, Version 2000, and presented almost too many times to count on topics related to clinical education in physical therapy. She influenced countless physical therapy education programs through the activities above as well as through her widespread consultation. 

At Texas State University, Barb served as Professor, Director of Clinical Education, and represented the School of Health Professions on the Faculty Senate, and was a multiple winner of the Texas State University Presidential Award for Service. Barb served on many doctoral dissertation committees and was an informal mentor to countless members of our profession. In 2003, Dr. Melzer was recognized as a Catherine Worthingham Fellow, the highest honor for members of the APTA. Through the incredible span of her service and lengthy list of accomplishments, she influenced the physical therapy profession in ways no words can accurately capture.  Dr. Melzer passed away on February 17, 2013.

  	
  	
  	
  	
  	
  	
  	
  	</li>  
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Previous Winners</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Quentin Mease Hospital, Orthopedic Service, Houston, Texas</li>
  	<li class="list-group-item">Texoma Christina Care Center, Wichita Falls, Texas </li>
  	<li class="list-group-item">Physical Therapy Central, Norman, Oklahoma</li>
   </ul>
  </div>
</div>



<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Exemplary Clinical Education</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">In an effort to recognize, support and encourage clinical facilities that provide an exemplary clinical education experience for physical therapy students, the Texas Consortium for Physical Therapy Clinical Education, Inc (The Texas Consortium) has initiated the Award for Exemplary Clinical Education Site. This honor will be awarded to the clinical education site that has demonstrated a consistent record of providing clearly exceptional clinical mentoring and education for physical therapy students from the state of Texas.</li>
  	<li class="list-group-item">This award will be given to the individual facility, clinic, department or unit that demonstrates their achievement of the criteria described below. It is NOT given to an entire health system, corporate entity or medical center facility. Both large and small clinical facilities are encouraged to apply.</li>
  	<li class="list-group-item">The clinical facility that earns the status of Exemplary Clinical Education Site will receive a plaque suitable for display, and the award notice will be posted on the Texas Consortium website. An announcement of this award will also be published in the Synergy, as well as in PT Magazine and the Journal for Physical Therapy Education.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Notification of Award</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Notification of this award will be sent to the recipient in August and the presentation of this award will take place at an appropriate venue.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Process and Deadlines</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Clinical instructors, Center Coordinators of Clinical Education, Directors of Physical Therapy/Rehabilitation Departments are encouraged to read the criteria and application process for this award. The deadline for receipt of applications is June 1 each year. All submissions should be sent electronically to Dr. Peggy Gleeson (pgleeson@twu.edu).</li>

   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Application</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item"><%= link_to 'Click here for an application', root_path << 'Application2016BarbMelzer.doc' %></li>
   </ul>
  </div>
</div>

