<div class="page-header">
  <h2>Dorn Long Outstanding Clinical Educator Award<small></small></h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Dorn Long Bio</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">TBD</li>  
   </ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Outstanding Clinical Educator</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">On an annual basis, clinical faculty members will be honored for their contributions to clinical education for a given year.  Each School/Program will nominate 4 individuals.  The nominees will be placed on a slate and elections will take place at the spring Texas Consortium meeting.  Award presentations will be made in conjunction with the annual TPTA Convention. A maximum of 10 clinical faculty members may receive the award each year.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Award Criteria</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">a. Work within a facility that provides clinical education for at least 2 physical therapy programs within the Consortium as verified by the Master Facility List.</li>
  	<li class="list-group-item">b. Have been a CI/CCCE at the present facility for at least 1 year.</li>
  	<li class="list-group-item">c. Have been a CI/CCCE for at least 3 years.</li>
  	<li class="list-group-item">d. Be a member of the American Physical Therapy Association as verified by his/her membership expiration date.</li>
  	<li class="list-group-item">e. Have not received the award in the last 5 years</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Previous Winners</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item"><%= link_to 'Click here to see a list of previous winners', root_path << 'Dorn_Long_awards_list_historical.pdf' %></li>
   </ul>
  </div>
</div>



