<div class="page-header">
  <h2>Clinical Educator Awards<br><small>These honors are awarded to clinical education sites and instructors with a consistent record of exceptional clinical mentoring and education for physical therapy students from the state of Texas</small></h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "Barb Melzer Award", pages_award_Melzer_path, {target:'_top'}%></h3>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to "Dorn Long Award", pages_award_Long_path, {target:'_top'}%></h3>
  </div>
 
</div>


