<div class="page-header">
  <h2>Clinical Instructor Certification Course <small>Parts I and II</small></h2>
</div>
<div class="panel panel-info">
	<div class="panel-body">
		<p>The Texas Consortium for Physical Therapy Clinical Education Inc. offers a two-part certification course for clinical instructors to enhance their ability to effectively establish or improve a clinical education program at their site while understanding the benefits students bring for their own professional growth but also to the clinical environment.  Most importantly, clinicians will understand how to progress a student through the experience utilizing effective teaching and learning methods.  
		</p>
		<p>In 2017 a new course was launched with the clinician now able to obtain the foundational knowledge of building and implementing a clinical education program through online self paced modules which include active learning strategies (Part 1).  Once completed, the clinician will obtain six CCU’s.  This online course is the first of the two if the clinician would like to earn the credential of being a certified clinical instructor through the Texas Consortium for Physical Therapy Clinical Education Inc.  Part 2 of this certification is completed in-person, regionally throughout Texas, facilitated by one or more academic DPT program Consortium members.  It consists of a four hour CCU course designed to integrate and build upon the foundational knowledge learned through the Part 1 online CCU course.  The Part 2 onsite course will not be lecture based but rather active learning with small group and facilitator interaction.  
		</p>
		<p>Once both the Part 1 online and Part 2 onsite courses are completed by the clinician, the Consortium will grant the Certified Clinical Instructor credential.  It is fine if a clinician chooses to only participate in the Part 1 online course, as six CCU’s are still earned.  The clinician is not able to attend the Part 2 onsite course unless they first take the Part 1 online course as the foundational knowledge gained in Part 1 is essential, and Part 2 will not make sense to anyone who has not completed the Part 1 online prerequisite.  
		</p>
	</div>  
  <div class="panel-heading">
    <h3 class="panel-title">Part I: Clinical Instructor Certification Course (Online/Web-based)</h3>
  </div>

<div class="panel-body">


		<div class="panel panel-info">
  			<div class="panel-heading">Part 1 Module Titles and Learning Objectives
  			</div>
  			<div class="panel-body">
				<ul class="list-group">
  					<li class="list-group-item">●	Vision and Professionalism
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Understand the benefits of being a clinical instructor and how it impacts your practice</li>
								<li class="list-group-item">○	Interpret the APTA Guidelines for Clinical Instructors</li>
								<li class="list-group-item">○	Relate how the APTA’s new vision and Vision 2020 apply to clinical education</li>
								<li class="list-group-item">○	Relate the APTA’s Professionalism core values and how it relates to clinical instruction</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Communication
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Describe the various factors affecting communication as it relates to clinical education. </li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Benefits of a Clinical Education Program
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Describe the benefits of clinical education to the following stakeholders:</li>
								
									<div class="panel-body">
										<ul class="list-group">
											<li class="list-group-item">■	The student</li>
											<li class="list-group-item">■	The clinical instructor</li>
											<li class="list-group-item">■	The clinical site</li>
											<li class="list-group-item">■	The academic program</li>
											<li class="list-group-item">■	The patient</li>
										</ul>
  									</div>
								
								
								<li class="list-group-item">○	Analyze how a clinical education program can benefit your staff and site</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Key Stakeholder Roles and Relationships
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Identify the stakeholders in clinical education</li>
								<li class="list-group-item">○	Describe the roles, relationships, and responsibilities of each stakeholder in clinical education</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Developing a Clinical Education Program
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Describe best practices and guidelines for clinical education sites</li>
								<li class="list-group-item">○	Outline the legal document requirements to become a clinical site</li>
								<li class="list-group-item">○	Plan the steps necessary to prepare for a student’s arrival at your facility</li>
								<li class="list-group-item">○	Develop a clinical curriculum to guide your students’ experiences at your facility</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Teaching and Learning Principles
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Understand current teaching and learning theories as they apply to best practice in the clinical setting.</li>
								<li class="list-group-item">○	Describe characteristics of the adult learner.</li>
								<li class="list-group-item">○	Differentiate between domains of learning.</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Behavior Objectives and Time Saving Ideas
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Apply the understanding of behavioral objectives to their clinical setting</li>
								<li class="list-group-item">○	Implement active learning strategies</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Assessing Clinical Readiness and Enhancing Clinical Learning
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Determine the most appropriate way to assess clinical readiness and enhance clinical learning.</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Clinical Reasoning
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Apply concepts of teaching clinical reasoning to the novice to expert learner. </li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Feedback
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Understand delivery methods of formative and summative feedback.</li>
								<li class="list-group-item">○	Demonstrate reflective practice strategies.</li>
							</ul>
  						</div>
  					</li>
  					<li class="list-group-item">●	Reflection
  						<div class="panel-body">
							<ul class="list-group">
								<li class="list-group-item">○	Understand the why reflection is important and how it is used in the clinical environment.</li>
								<li class="list-group-item">○	Demonstrate reflective practice strategies and guide students in the process.</li>
							</ul>
  						</div>
  					</li>
				</ul>
  			</div>
		</div>
		<div class="panel panel-info">
  			<div class="panel-heading">Part I:				
  				<!--<%=link_to "CI Course Registration", products_path, class: 'btn btn-info btn-lg'%>  (Pay with a PayPal account: Cost: $40, CEUs: 0.4) -->
  				** Need Link to Course **
  			</div>
  			<div class="panel-body">
  			    ** Need some course taking instruction information here **
    			<!--Registration for Part I is available here:<%=link_to "Register for Part I", products_path%>.  Before registering for the course you need to have a login for this website  clicking the "registration" link will prompt you to login if you already have an account on this website, otherwise you should click the "signup" link and get one.  Once you have logged on, you can register for the course by selecting the course and then paying the $40 fee.  After the transaction is completed, you will see a link: "Start Course"  clicking on that will bring you to the course material.-->
  			</div>

 			<div class="panel-heading">Part I: Questions:
 			</div>
  			<div class="panel-body">
   				You may direct Part I course questions to answers@texasconsortium.org. 
  			</div>  
  </div> <!-- closes panel-body-->
</div> <!-- closes the panel -->

<div class="panel panel-info">
 	<div class="panel-heading">
    	<h3 class="panel-title">Part II: Clinical Instructor Certification Course (Onsite/face-to-face)</h3>
    	For Announcements: <%=link_to "click here", pages_announcements_path%>
  	</div>
  	<div class="panel-body">
	This course offers learning opportunities for both novice and experienced PTs and PTAs involved in clinical education. Clinical education makes up one-third of PT program curricula and nearly one-half of PTA curricula. Your role as a Clinical Instructor is critical to the success of PT and PTA students’ entry into the profession. As a clinical faculty member, you have the opportunity and responsibility to direct the future of physical therapy. 
	<br/><br/>Part II is an onsite course building on the content in Part I to prepare CIs to mentor the next generation of students as the profession moves toward Vision 2020 and our profession’s new vision.  Upon completion of this course you will be able to:	
			<div class="panel panel-info">
			
  			<div class="panel-heading">Part II: Course Learning Outcomes
  			</div>
  			<div class="panel-body">
				<ul class="list-group">
  					<li class="list-group-item">●	Develop or enhance a clinical education program for his/her specific facility</li>
  					<li class="list-group-item">●	Utilize effective, student-centered clinical teaching strategies </li>
  					<li class="list-group-item">●	Optimize a student clinical learning experience at their facility</li>
  					<li class="list-group-item">●	Identify, share and evaluate best practices in clinical education from the course and peer interaction sessions</li>
				</ul>
  			</div>
		</div>

	</div>
</div>

     
  </div>
</div>



