<div class="page-header">
  <h2>Clinical Instructor Certification Course <small>Parts I and II</small></h2>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Part I: Clinical Instructor Certification Course (Online/Web-based)</h3>
  </div>
  <div class="panel-body">
Part I is a online web-based course that must be taken prior the onsite/face-to-face Part II. Part I provides a foundation upon which Part II is based. (See link below to register).

Part I has four (4) modules that you may take online over a period of one month at your convenience. At the end of each module, you must submit answers to various assignments or questions to assess your knowledge. At the completion of all four modules, there is an exam to complete.

		<div class="panel panel-info">
  			<div class="panel-heading">Part I: Course Learning Outcomes
  			</div>
  			<div class="panel-body">
				<ul class="list-group">
  					<li class="list-group-item">1. Understand the implementation, planning and administration of a clinical education program.</li>
  					<li class="list-group-item">2. Document student performance in the clinical education tool, the PT MACS.</li>
  					<li class="list-group-item">3. Understand effective oral, non-verbal and written communication styles.</li>
  					<li class="list-group-item">4. Understand various teaching and learning concepts.</li>
				</ul>
  			</div>
		</div>


		<div class="panel panel-info">
  			<div class="panel-heading">Part I:
  	<%=link_to "CI Course Registration", products_path, class: 'btn btn-info btn-lg'%>  (Pay with a PayPal account: Cost: $40, CEUs: 0.4)
  			</div>
  			<div class="panel-body">
    Registration for Part I is available here: <%=link_to "Register for Part I", products_path%>.  Before registering for the course you need to have a login for this website - clicking the "registration" link will prompt you to login if you already have an account on this website, otherwise you should click the "signup" link and get one.  Once you have logged on, you can register for the course by selecting the course and then paying the $40 fee.  After the transaction is completed, you will see a link: "Start Course" -- clicking on that will bring you to the course material.
  			</div>

 			<div class="panel-heading">Part I: Questions:
 			</div>
  			<div class="panel-body">
   You may direct Part I course questions to answers@texasconsortium.org. 
  			</div>  
  </div> <!-- closes panel-body-->
</div> <!-- closes the panel -->

<div class="panel panel-info">
 	<div class="panel-heading">
    	<h3 class="panel-title">Part II: Clinical Instructor Certification Course (Onsite/face-to-face)</h3>
  	</div>
  	<div class="panel-body">
	This course offers learning opportunities for both novice and experienced PTs and PTAs involved in clinical education. Clinical education makes up one-third of PT program curricula and nearly one-half of PTA curricula. Your role as a Clinical Instructor is critical to the success of PT and PTA students’ entry into the profession. As a clinical faculty member, you have the opportunity and responsibility to direct the future of physical therapy. 
	<br/><br/>Part II is an onsite course building on the content in Part I to prepare CIs to mentor the next generation of students as the profession moves toward Vision 2020 and our profession’s new vision.  Upon completion of this course you will be able to:	
			<div class="panel panel-info">
			
  			<div class="panel-heading">Part II: Course Learning Outcomes
  			</div>
  			<div class="panel-body">
				<ul class="list-group">
  					<li class="list-group-item">1. Discuss the impact of Vision 2020 and the new vision on clinical education and integrate future changes into your facility’s clinical education program.</li>
  					<li class="list-group-item">2. Develop a clinical curriculum based on behavioral objectives for students and foster more independent student learning.</li>
  					<li class="list-group-item">3. Analyze situations when students struggle and intervene with effective strategies.  Recognize when students can be challenged to perform at the next level.</li>
  					<li class="list-group-item">4. Assist students in developing clinical decision-making and problem-solving skills.</li>
  					<li class="list-group-item">5. Interact with colleagues to practice your skills as a clinical instructor.</li>
				</ul>
  			</div>
		</div>
		<div class="panel panel-info">
 			<div class="panel-heading">Part II: Questions:
 			</div>
  			<div class="panel-body">
   Please direct Part 2 course questions to the contact person listed on the registration form.  For information on the PartII course in Houston, TX on Friday, January 15, 2016.  click here.
  			</div>  
  		</div>
	</div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Biannual Clinical Educators' Workshop (Onsite course) </h3>
  </div>
  <div class="panel-body">
    Every other year the Texas Consortium for Physical Therapy Clinical Education, Inc. gathers clinical instructors together for workshop discussions of relevant clinical education topics. The next biannual workshop will take place in 2016. 
  </div>
</div>


