<div class="page-header">
  <h2>Clinical Instructor Certification Course <small>Parts I and II</small></h2>
</div>
<div class="panel panel-info">
	<div class="panel-body">
		<p>The Texas Consortium for Physical Therapy Clinical Education Inc. offers a two-part certification course for clinical instructors to enhance their ability to effectively establish or improve a clinical education program at their site while understanding the benefits students bring for their own professional growth but also to the clinical environment.  Most importantly, clinicians will understand how to progress a student through the experience utilizing effective teaching and learning methods.  
		</p>
		<p>In 2017 a new course was launched with the clinician now able to obtain the foundational knowledge of building and implementing a clinical education program through online self paced modules which include active learning strategies (Part I).  Once completed, the clinician will obtain six CCU’s.  This online course is the first of the two if the clinician would like to earn the credential of being a certified clinical instructor through the Texas Consortium for Physical Therapy Clinical Education Inc.  Part II of this certification is completed in-person, regionally throughout Texas, facilitated by one or more academic DPT program Consortium members.  It consists of a four hour CCU course designed to integrate and build upon the foundational knowledge learned through the Part I online CCU course.  The Part II onsite course will not be lecture based but rather active learning with small group and facilitator interaction.  
		</p>
		<p>Once both the Part I online and Part II onsite courses are completed by the clinician, the Consortium will grant the Certified Clinical Instructor credential.  It is fine if a clinician chooses to only participate in the Part I online course, as six CCU’s are still earned.  The clinician is not able to attend the Part II onsite course unless they first take the Part I online course as the foundational knowledge gained in Part I is essential, and Part II will not make sense to anyone who has not completed the Part I online prerequisite.  
		</p>
	</div>  
  	<div class="panel-heading">
    	<h3 class="panel-title">Part I: Clinical Instructor Certification Course (Online/Web-based)</h3>
  	</div>

	<div class="panel-body">
		<div class="panel panel-info">
  			<div class="panel-heading"><%=link_to "CIC Course Part I", pages_part1_path, class: 'btn btn-info btn-xl'%>
  			</div>
  		</div>
  	</div>

 	<div class="panel-heading">
    	<h3 class="panel-title">Part II: Clinical Instructor Certification Course (Onsite/face-to-face)</h3>
  	</div>
  	<div class="panel-body">
		<div class="panel panel-info">
  			<div class="panel-heading"><%=link_to "CIC Course Part II", pages_part2_path, class: 'btn btn-info btn-xl'%>
  			</div>
  		</div>
  	</div>
</div>




