<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover',
        html: 'true'
    });
});
</script>
<style type="text/css">
	.bs-example{
    	margin: 150px 50px;
    }
</style>

<div class="page-header">
  <h2>Clinician Members<small></small></h2>
</div>

<button type="button" class="btn btn-link" data-toggle="popover" title="Select Physical Therapy" data-content="Andreas Mueller, PT<br/>Select Physical Therapy<br/>11623 Angus Rd. Suite 18<br/>Austin, Texas 78759<br/>(512)345-4421<br/>(512)345-9294 (fax)<br/>muelleac@selectmedical.com">Select Physical Therapy</button>
 <br>
 <br>

<button type="button" class="btn btn-link" data-toggle="popover" title="Memorial Hermann Rehabilitation Hospital Katy" data-content="Nova Sbrusch, PT, MS, NCS, CWS, CBIST<br/>Inpatient and Outpatient Therapy<br/>21720 Kingsland Blvd., Suite 102<br/>Katy, Texas 77479<br/>(281)579-5735 (work)<br/>(713)302-4269 (cell)<br/>nova.sbrusch@memorialhermann.org">Memorial Hermann Rehabilitation Hospital Katy</button>
 <br>
 <br>

 