<div class="page-header">
  <h2>Clinician Members<small></small></h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Andreas Mueller, PT</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Select Physical Therapy</li>
  	<li class="list-group-item">11623 Angus Rd. Suite 18</li>
  	<li class="list-group-item">Austin, Texas 78759</li>
  	<li class="list-group-item">(512)345-4421</li>
  	<li class="list-group-item">(512)345-9294 (fax)</li>
  	<li class="list-group-item">muelleac@selectmedical.com</li>
   </ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Nova Sbrusch, PT, MS, NCS, CWS, CBIST</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  <li class="list-group-item">Memorial Hermann Rehabilitation Hospital Katy</li>
  <li class="list-group-item">Inpatient and Outpatient Therapy</li>
  <li class="list-group-item">21720 Kingsland Blvd., Suite 102</li>
  <li class="list-group-item">Katy, Texas 77479</li>
  <li class="list-group-item">(281)579-5735 (work)</li>
  <li class="list-group-item">(713)302-4269 (cell)</li>
  <li class="list-group-item">nova.sbrusch@memorialhermann.org</li>
</ul>
  </div>
</div>

 