<div class="page-header">
  <h1>Texas Consortium for Physical Therapy <small>Home Page</small></h1>
</div>

        
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Incorporation</h3>
  </div>
  <div class="panel-body">
   The Texas Consortium for Physical Therapy Clinical Education, Incorporated is the result of a collaborative arrangement among the physical therapy programs in the state.
  </div>
</div>

      
        
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose</h3>
  </div>
  <div class="panel-body">
  The Primary purpose of this group is to coordinate all aspects of physical therapy clinical education. The Consortium functions with the financial support from the participating Universities. The Consortium has reduced the time, effort and cost of maintaining quality clinical education for the state's physical therapy students. In addition, The Consortium provides continuing education opportunities and training workshops for Clinical Instructors as well as Academic Coordinators of Clinical Education from all parts of the nation.
  </div>
</div>        
        


 


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Member Physical Therapy Programs</h3>
  </div>
  <div class="panel-body">
<div class="list-group">
  <a href="#" class="list-group-item">Hardin-Simmons University</a>
  <a href="#" class="list-group-item">Texas State University</a>
  <a href="#" class="list-group-item">Texas Tech University Health Sciences Center</a>
  <a href="#" class="list-group-item">Texas Woman's University</a>
  <a href="#" class="list-group-item">The University of Texas Health Science Center at San Antonio</a>
  <a href="#" class="list-group-item">The University of Texas Medical Branch at Galveston</a>
  <a href="#" class="list-group-item">The University of North Texas Health Science Center</a>
  <a href="#" class="list-group-item">University of Texas at El Paso</a>
  <a href="#" class="list-group-item">University of the Incarnate Word</a>
  <a href="#" class="list-group-item">University of St. Augustine-Texas</a>
</div>  
</div>
</div>
        

 
 <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Calendar</h3>
  </div>
  <div class="panel-body">
For a master calendar of all programs' clinical education experiences click here (http://www.texasconsortium.org/Master%20Clinical%20Schedule%202016.pdf).  </div>
</div>
       
        









