<div class="page-header">
  <h1>Consortium Members <small></small></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Hardin Simmons University</h3>
  </div>
  <div class="panel-body">
  <ul class="list-group">
  		<li class="list-group-item">Mary Lou Garrett, PT, DPT, PCS, DCE</li>
	</ul>
    
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Texas State University</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Steve Spivey, PT, DPT, DCE</li>
  		<li class="list-group-item">Shannon Williams, PT, DPT, Asst DCE</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Texas Tech University Health Sciences Center</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Nathan Burgess, PT, MPT, NCS, DCE  </li>
  		<li class="list-group-item">Joan Potter-Brunet, PT, MS, DPT, Assistant DCE</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Texas Woman's University – Dallas</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Dale Anderle, PT, DPT, DCE</li>
  		<li class="list-group-item">Kathleen Luedtke-Hoffmann, PT, MBA, PhD, Assistant DCE</li>
  		<li class="list-group-item">Dr. Linda Csiza, Asst DCE</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Texas Woman's University – Houston</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Peggy Gleeson, PT, PhD, DCE</li>
  		<li class="list-group-item">Anne Turner O'Donnell, PT, PhD, Assistant DCE</li>
  		<li class="list-group-item">Victoria Millet Zegarrundo, PT, DPT, Assistant DCE</li>
  		<li class="list-group-item">Lauren Szot, PT, DPT, NCS, Assistant DCE</li>
	</ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">The University of North Texas Health Science Center</h3>
  </div>
  <div class="panel-body">
  <ul class="list-group">
  		<li class="list-group-item">Brandy Brewster Schwarz PT, DPT, OT, MBA, DCE</li>
	</ul>
    
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">The University of Texas at El Paso</h3>
  </div>
  <div class="panel-body">
  <ul class="list-group">
  		<li class="list-group-item">Loretta Dillon, PT, DPT, MS, DCE</li>
	</ul>
    
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">University of Texas Health Science Center at San Antonio</h3>
  </div>
  <div class="panel-body">
  <ul class="list-group">
  		<li class="list-group-item">Mike Geelhoed, PT, DPT, OCS, MTC</li>
	</ul>
    
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">University of Texas Medical Branch</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Rebecca Galloway, PT, PhD, GCS, DCE</li>
  		<li class="list-group-item">Laurie Farroni, PT, DPT, Assistant DCE</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">University of Texas Southwestern Medical Center</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Julie DeVahl, PT, MS, OCS, DCE</li>
  		<li class="list-group-item">Tara Widgins Dickson, PT, DPT, CSCS</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">University of the Incarnate Word</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Chad Jackson, PT, DPT, OCS</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">University of St. Augustine-Texas</h3>
  </div>
  <div class="panel-body">
  	<ul class="list-group">
  		<li class="list-group-item">Dr. Kathleen Manella, DCE</li>
  		<li class="list-group-item">Dr. Martha Sneary, DCE</li>
	</ul>
  </div>
</div>