<div class="page-header">
  <h2>Clinical Instructor Certification Course Part I<small> (Online/Web-based)</small></h2>
</div>
<div class="panel panel-info">
	<div class="panel-body">
		<%=link_to "Click here to start CIC Course Part I", "   https://education.texasconsortium.org/index.cfm?pg=semwebCatalog&panel=showBundle&bundleid=257", class: 'btn btn-info btn-xl'%>
	</div>  

<div class="panel-body">


		<div class="panel panel-info">
  			<div class="panel-heading">Part I Module Titles and Learning Objectives:
  			</div>
  			<div class="panel-body">
				<ul class="list-group">
  					<li class="list-group-item">●	Vision and Professionalism
  						<div class="panel-body">
							
								○	Understand the benefits of being a clinical instructor and how it impacts your practice</br>
								○	Interpret the APTA Guidelines for Clinical Instructors</br>
								○	Relate how the APTA’s new vision and Vision 2020 apply to clinical education</br>
								○	Relate the APTA’s Professionalism core values and how it relates to clinical instruction
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Communication
  						<div class="panel-body">				
								○	Describe the various factors affecting communication as it relates to clinical education.
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Benefits of a Clinical Education Program
  						<div class="panel-body">
							
								○	Describe the benefits of clinical education to the following stakeholders:</br>
											&nbsp;&nbsp;■	The student</br>
											&nbsp;&nbsp;■	The clinical instructor</br>
											&nbsp;&nbsp;■	The clinical site</br>
											&nbsp;&nbsp;■	The academic program</br>
											&nbsp;&nbsp;■	The patient</br>						
								○	Analyze how a clinical education program can benefit your staff and site
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Key Stakeholder Roles and Relationships
  						<div class="panel-body">
							
								○	Identify the stakeholders in clinical education</br>
								○	Describe the roles, relationships, and responsibilities of each stakeholder in clinical education
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Developing a Clinical Education Program
  						<div class="panel-body">
							
								○	Describe best practices and guidelines for clinical education sites</br>
								○	Outline the legal document requirements to become a clinical site</br>
								○	Plan the steps necessary to prepare for a student’s arrival at your facility</br>
								○	Develop a clinical curriculum to guide your students’ experiences at your facility
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Teaching and Learning Principles
  						<div class="panel-body">
							
								○	Understand current teaching and learning theories as they apply to best practice in the clinical setting.</br>
								○	Describe characteristics of the adult learner.</br>
								○	Differentiate between domains of learning.
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Behavior Objectives and Time Saving Ideas
  						<div class="panel-body">
							
								○	Apply the understanding of behavioral objectives to their clinical setting</br>
								○	Implement active learning strategies
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Assessing Clinical Readiness and Enhancing Clinical Learning
  						<div class="panel-body">
							
								○	Determine the most appropriate way to assess clinical readiness and enhance clinical learning.
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Clinical Reasoning
  						<div class="panel-body">
							
								○	Apply concepts of teaching clinical reasoning to the novice to expert learner.
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Feedback
  						<div class="panel-body">
							
								○	Understand delivery methods of formative and summative feedback.</br>
								○	Demonstrate reflective practice strategies.
							
  						</div>
  					</li>
  					<li class="list-group-item">●	Reflection
  						<div class="panel-body">
							
								○	Understand the why reflection is important and how it is used in the clinical environment.</br>
								○	Demonstrate reflective practice strategies and guide students in the process.
							
  						</div>
  					</li>
				</ul>
  			</div>
		</div>
		<div class="panel panel-info">

 			<div class="panel-heading">Part I Questions:
 			</div>
  			<div class="panel-body">
   				You may direct Part I course questions to answers@texasconsortium.org. 
  			</div>  
  </div> <!-- closes panel-body-->
</div> <!-- closes the panel -->


     




