<div class="page-header">
  <h2>Clinical Instructor Certification Course Part II <small>(Onsite)</small></h2>
</div>

<div class="panel panel-info">
 	<div class="panel-heading">
    	<div class="panel-body">
			<!--<%=link_to "Click Here for Part 2 Course Offerings", pages_announcements_path, class: 'btn btn-info btn-xl'%>-->
			<%=link_to "Click Here for Part 2 Course Offerings", part2_offerings_path, class: 'btn btn-info btn-xl'%>
		</div> 
  	</div>
  	<div class="panel-body">
	This course offers learning opportunities for both novice and experienced PTs and PTAs involved in clinical education. Clinical education makes up one-third of PT program curricula and nearly one-half of PTA curricula. Your role as a Clinical Instructor is critical to the success of PT and PTA students’ entry into the profession. As a clinical faculty member, you have the opportunity and responsibility to direct the future of physical therapy. 
	<br/><br/>Part II is an onsite course building on the content in Part I to prepare CIs to mentor the next generation of students as the profession moves toward Vision 2020 and our profession’s new vision.  Upon completion of this course you will be able to:	
			<div class="panel panel-info">
			
  			<div class="panel-heading">Part II Course Learning Outcomes:
  			</div>
  			<div class="panel-body">
				
  					●	Develop or enhance a clinical education program for his/her specific facility</br>
  					●	Utilize effective, student-centered clinical teaching strategies </br>
  					●	Optimize a student clinical learning experience at their facility</br>
  					●	Identify, share and evaluate best practices in clinical education from the course and peer interaction sessions
  			</div>
		</div>

	</div>
</div>

     
  </div>
</div>



