<div class="page-header">
  <h2>Physical Therapist Manual<br>for the Assessment of Clinical Skills <small>(PT MACS)</small></h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Instructions</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">For instructions on the use of the PT MACS click here (http://www.texasconsortium.org/PT%20MACS%20INSTRUCTIONS-pages%201-26%201-27-04.pdf). You must have Adobe Acrobat Reader for this file.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">PT MACS Manual</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">The Physical Therapist Manual for the Assessment of Clinical Skills (PT MACS) is a clinical skills assessment document that has been developed by clinical and academic faculty. Its format is similar to The Blue MACS, an assessment tool in use since 1977. A task force comprised of ACCEs, DCEs and clinicians was charged with developing the content and format of the new PT MACS. (Former users of The Blue MACS click here (http://www.texasconsortium.org/ptmacs_instructions.htm) for differences between the two evaluation tools.)</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Skill Level</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item"></li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Skill Content</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">The skill content of the PT MACS is based upon definitions for professional behaviors identified as the Generic Abilities1 and clinical practice as outlined in A Normative Model of Physical Therapist Professional Education2-3 and The Guide to Physical Therapist Practice 4-6. The PT MACS is designed to be used as a method for evaluating clinical performance and as a tool to promote clinical teaching and learning. It identifies skills every student needs to develop in order to be considered entry-level. Clinical Instructors (CIs) and students can also use the PT MACS to collaborate in developing a successful clinical learning experience.</li>
   </ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Draft Version 1.0</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Draft version 1.0 of the PT MACS was piloted in 2001 by several member programs of The Consortium. Based on feedback from CIs draft versions 2.0 and 3.0 were created in 2002. Member programs of The Consortium participated in the piloting of the PT MACS between 2001-2003. The first edition of the PT MACS was published in April 2004.
</li>
   </ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Inquiries</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Inquiries about or ordering for the PT MACS can be directed to the Dr. Dale Anderle at danderle@twu.edu.</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Order Form</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Click here for an order form. (http://www.texasconsortium.org/PT%20MACS%202nd%20edition%20Order%20Form.pdf)</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">PT MACS References:</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">May WM, Morgan BJ, Lemke JC, and Karst GM, et al. Model for ability-based assessment in physical therapy education. Phys Ther. 1995;9(1):3-6.</li>
  	<li class="list-group-item">A Normative Model of Physical Therapist Professional Education: Version 1997. Alexandria, VA: American Physical Therapy Association; 1997.</li>
  	<li class="list-group-item">A Normative Model of Physical Therapist Professional Education: Version 2000. Alexandria, VA: American Physical Therapy Association; 2000.</li>
  	<li class="list-group-item">Guide to Physical Therapist Practice. 1st ed. Phys Ther. 1997; 77:1163-1650. Revised April and July 1999.</li>
  	<li class="list-group-item">Guide to Physical Therapist Practice. 2nd ed. Phys Ther. 2001;81:9-744.</li>
  	<li class="list-group-item">Interactive Guide to Physical Therapist Practice with Catalog of Tests and Measures, version 1.0. Alexandria, VA: American Physical Therapy Association; 2002.</li>
   </ul>
  </div>
</div>