<div class="page-header">
  <h2>PT MACS, 2nd Edition</h2>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Instructions</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	
  	<li class="list-group-item">For instructions on the use of the PT MACS click here:
  	<%=link_to "PT MACS Instructions", root_path << "PT_MACS_INSTRUCTIONS.pdf"%>.
  	</li>
  	
  	<li class="list-group-item">
  	(You must have Adobe Acrobat Reader for this file.)
  	</li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">PT MACS Manual</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">The Physical Therapist Manual for the Assessment of Clinical Skills (PT MACS), 2nd Edition describes the skills that a newly graduated physical therapist must be able to perform in order to engage in safe and effective practice.  The skills in the PT MACS are based on (1) entry-level physical therapist education criteria as defined by A Normative Model for Physical Therapist Education, (2) standards of practice, elements of patient/client management and terminology as defined by The Guide to Physical Therapist Practice 3.0, and (3) standards of professional behavior initially defined as the Generic Abilities.</li>
    <li class="list-group-item">Draft version 1.0 of the PT MACS was piloted in 2001 by several member programs of The Consortium. Based on feedback from CIs draft versions 2.0 and 3.0 were created in 2002. Member programs of The Consortium participated in the piloting of the PT MACS between 2001-2003. The first edition of the PT MACS was published in April 2004. The second edition was published in August 2015.</li>
   </ul>
  </div>
</div>





<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Inquiries</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<!--<li class="list-group-item">Inquiries about or ordering for the PT MACS can be directed to the Dr. Dale Anderle at danderle@twu.edu.</li>-->
  	<li class="list-group-item">Inquiries about or ordering for the PT MACS can be directed to the Dr. Dale Anderle at <a href="mailto:danderle@wtu.edu">danderle@wtu.edu</a></li>
  	
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Order Form</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
   	<li class="list-group-item"><%= link_to 'Click here for the PT MACS Order Form', root_path << 'PT_MACS_ORDER_FORM.pdf' %></li>
   </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">References</h3>
  </div>
  <div class="panel-body">
   <ul class="list-group">
     	<li class="list-group-item"><%= link_to 'Click here to see PT MACS Reference', root_path << 'PT_MACS_REFERENCES.docx' %></li>
   </ul>
  </div>
</div>
