<div class="page-header">
  <h1>Related Websites<small></small></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">APTA - American Physical Therapy Association</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">The web site of our national professional organization.</li>
  		<li class="list-group-item">Filled with the latest information on physical therapy.</li>
  		<li class="list-group-item"><%=link_to "Go", 'http://www.apta.org', class: 'btn btn-info btn-xs'%> www.apta.org</li>
	</ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">TPTA - Texas Physical Therapy Association</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">The web site of the state chapter of our national professional organization. Local information that includes continuing education information, services, political action and a members only section.
</li>
		<li class="list-group-item"><%=link_to "Go", 'http://www.tpta.org', class: 'btn btn-info btn-xs'%> www.tpta.org</li>
	</ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Education World - "Where educators go to learn."</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">Filled with current news about education, resources, articles, and much more.</li>
  		<li class="list-group-item"><%=link_to "Go", 'http://www.education-world.com', class: 'btn btn-info btn-xs'%> www.education-world.com</li>
	</ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">New England Consortium of Academic Coordinators of Clinical Education</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
  		<li class="list-group-item">Contains an excellent library and related links.</li>
  		<li class="list-group-item"><%=link_to "Go", 'http://www.necacce.org', class: 'btn btn-info btn-xs'%> www.necacce.org</li>
  		
	</ul>
  </div>
</div>