<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Features of the Evaluation Tool</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>The PT MACS can be used in any setting making it a universal tool. The skills of the tool are uniform in style thereby rating the students performance is more objective. Additionally, it allows the student opportunities to self-assess prior to the CI rating the student.</li>
    	<li>Self-assessment is an important part in the learning process by helping the students to identify any gaps between their actual and optimal performance. They need to identify the strategies that they might use to close the gaps and the PT MACS assists them in this task. </li>
    	<li>Feedback is provided to the student through rating of each skill. The skill is the standard of performance the student is trying to achieve. Consequences of behavior both acceptable and not independent can be determined through use of the tool and the school’s grading criteria. Thus, this tool enhances the problem solving approach to learning. </li>
    	<li>Problem based learning is found in more PT curricula and it is the ideal way to learn in the clinic. Using this tool gives the student the framework to seek solutions to their patient/client problems.</li>
    	<li>The last feature of the PT MACS is the flexibility found in using this tool. The PT MACS especially is designed to assess student performance with any patient and in any setting.</li>
    </ul>
  </div>
</div>
