<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Philosophy</h3>
  </div>
  <div class="panel-body">
    
The PT MACS is loosely based on The Blue MACS, the predecessor of the new tool. The shift in philosophy reflects emphasis away from the concept of “mastery learning” towards that of skill acquisition based on pre-defined learning objectives. The objectives are more global than the key indicators in The Blue MACS.
 
   </div>
</div>  
   
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">The skills in the PT MACS are based on the:</h3>
  </div>
  <div class="panel-body">
   
   	
				<ul>
					<li>Generic Abilities</li>
					<li>Guide to PT Practice</li>
					<li>A Normative Model for PT Professional Education</li>
				</ul>   		
   </div>
</div>  


<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">Terminology</h3>
  	</div>
  	<div class="panel-body">
   		The terminology in the skills has been updated to the acceptable and uniform language reflective of The Guide & Normative Model.		
   	</div>
</div> 