<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Standards</h3>
  </div>
  <div class="panel-body">
   The standards that are instilled in the PT MACS are safe and effective student performance. The tool is designed for the CI and student to assess entry level performance. This is defined as the level of knowledge, skill & professional behavior expected of a new graduate entering the profession. It is based on student performance of all applicable objectives at the facility. For example, if a site’s PT staff does not routinely stage wounds, then that behavior would not be expected of the student. 
  </div>
</div>


