<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Skill approval:
</h3>
  </div>
  <div class="panel-body">
A skill is approved with a “√” or “+” on all applicable objectives. Qualifying comments are annotated on the skill sheet. The CI records the date and facility initials and CI initials on the Master List. At the midterm and final evaluations, the CI records the rating on the Progress Report.
  </div>
</div>