<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Required paperwork:</h3>
  </div>
  <div class="panel-body">
The CI is responsible for rating the student on the skill sheets, completing the midterm and final evaluations on the Progress Report as well as completing all documentation on the skill sheets. The student is responsible for completing the Student Site Evaluation Form and sharing it with the CI.
  </div>
</div>