<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Student Evaluation:</h3>
  </div>
  <div class="panel-body">
The student must complete the <%=link_to "Student Site Evaluation Form", "http://www.apta.org/Educators/Clinical/SiteDevelopment/" %>  and share the evaluation with the CI. This form is not a part of the PT MACS, but is important information for both the academic and clinical settings. The student and CI must sign the document and the original is returned to the academic institution. The students are taught to be objective and honest in their critique. If they find areas that need to be improved, they are told to offer suggestions for such.
  </div>
</div>