<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Documenting student performance:</h3>
  </div>
  <div class="panel-body">
Follow patient care documentation guidelines when documenting student performance. The PT MACS progress report is a permanent legal record of the student’s performance. Always use permanent black ink, do not use correction fluid, and correct errors as you would in patient care documentation. The skill sheets can be used to qualify performance behaviors in more detail than on the progress report. Typically, the progress report documentation is in bullet format.
  </div>
</div>