<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Rating scale:</h3>
  </div>
  <div class="panel-body">
A “+” indicates exceptional performance. This is behavior that you would not necessarily expect from a new graduate. For a student to earn a “+”, s/he must be performing the skill consistently over time above and beyond the expectation of entry level. A “√” indicates entry level performance. This behavior is consistent behavior that you would expect of a new graduate entering the profession. When the CI has to step in and provide either verbal or manual assistance in order for the student to accomplish the skill, the rating becomes an "NI": Not Independent. The final letter rating is a "U", which constitutes unacceptable performance. This is when the student has continuously received feedback and continues to perform at an unacceptable level or if the student commits one grievous incident. For instance, if a student sexually harassed a patient or co-worker while on rotation, the rating on skill #7, Professionalism would be a U. Leaving a skill blank in the rating blocks indicates that there was no opportunity to perform that skill. Thus, if a student worked on a skill and continued to require assistance (i.e. should receive an NI), a rating must be given. Otherwise, it appears that the student did not work on the skill. It is better to give credit to the student for attempting to complete a skill than not addressing the skill at all.
  </div>
</div>



