<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Comments:</h3>
  </div>
  <div class="panel-body">
The ratings that require comments are the "NI" and the "U". The behaviors that were observed must be documented to corroborate the rating of "NI" or "U". It is helpful at times to have comments to qualify why a "+" was given. The "√" does not usually require a comment. In certain situations, a CI might explain why an objective was not addressed for the clinical experience.
  </div>
</div>