<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Time of Day</h3>
  </div>
  <div class="panel-body">
   <p>Activity: Imagine when you might want to have the following conversations with your student.</p>

<p>You need to discuss the fact that your student has been coming in to work 15 minutes late every day.
</p>

<p>You want to discuss with your student that his work has been seriously deficient and you may need to ask him to leave the facility, if he doesn't show significant improvement immediately.
</p>

  </div>
</div>








