<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Non-verbal Factors That Affect Communication</h3>
  </div>
  <div class="panel-body">
When considering the impact of non verbal behaviors on communication effectiveness, remember what Robert Bolton (1979) has pointed out. A specific gesture is like a word in a paragraph. The word can have many meanings, but only in the context of the paragraph or chapter can we accurately understand its intended meaning. Do not jump to conclusions. Do not ascribe feelings and intentions on others based upon what YOU would mean if YOU made that gesture. This caution is particularly important when dealing with folks from a different culture.
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Gestures and Facial Expressions</h3>
  			</div>
  			<div class="panel-body">
  			Virtually every book written on communication lists how gestures can be the unspoken language that conveys our messages. Facial expressions, body position, hand signals-all of these add flavor to our language. For a complete listing of gestures and interpretations, consult the references on communication listed at the end of this session. 

  			</div>
		</div>

		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Two Key Factors</h3>
  			</div>
  			<div class="panel-body">
<p>The first is congruence. Your gestures should be congruent, that is they should agree with and support, your verbal message. Miss-communication occurs when there is a disconnect between the verbal and non-verbal message. The individual who is frowning, brows furrowed, mouth down-turned, shoulders hunched and eyes down-cast who is asked "What is the matter?" and responds in a gruff voice "Nothing-everything is just fine!" is an obvious example. The Clinical Instructor who is trying to explain a complicated piece of equipment to the student while he is documenting a progress note on the computer may perceive that the student is not paying attention, even though the student says "Go ahead, I'm listening."
 </p>
<p>
The second is interpretation. As we discuss throughout this session, gestures and their meanings, vary between genders, generations and cultures. We tend to interpret a gesture based upon what we would mean if we did that. Although this interpretation may be correct, there is also a chance that it is not. Consider the individual and the context of the situation. Sometimes crossed arms only means the person is cold (temperature-wise) and not close-minded or resistant.
</p>
  			</div>
		</div>




  </div>
</div>




