<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Listening - A Commitment and a Compliment</h3>
  </div>
  <div class="panel-body">
  	<p>Being quiet when someone talks does not constitute real listening. Real listening is based on the intention to do one of four things: understand someone, enjoy someone, learn something or give help and solace.</p>
  	<p>In the vast majority of schools, there are no effective training programs for developing listening skills. This fact makes little sense in a society where the graduated student will have to spend at least three times as much time listening as he spends reading.</p>
  	<p>Hearing is the physiological sensory processes by which auditory sensations are received by the ears and are transmitted to the brain. Listening is a more complex psychological procedure involving interpreting and understanding the significance of the sensory experience.</p>
  	<p>"I can never tell you what you said. I can only tell you what I heard."</p>
  </div>
</div>













