<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Eye Contact, Physical Alignment and Directness of Facing Head-On</h3>
  </div>
  <div class="panel-body">
  <p>Studies of gender differences in the above characteristics have shown that at all ages, girls and women sit closer to each other and look at each other directly, whereas boys and men sit at angles to each other, sometimes even parallel, and rarely look directly into each other's faces. Although, as noted above, women's speech may be more indirect that men's in physical alignment, men tend to more indirect.
</p>
<p>
In certain cultures, it is a sign of respect to avoid direct eye contact. Avoidance of eye contact can be a sign of attentiveness and respect in the Hispanic, Asian and Native American cultures. In the African American culture, there is a preference for indirect eye contact when listening with direct eye contact used during speaking (Leavitt 1999). Females may be expected to keep their eyes averted so as not to appear to be "forward". In the military, direct and sustained eye contact by a private toward a superior officer may seem to be challenging and disrespectful. A student who does not maintain appropriate eye contact with a CI may seem to be defensive, insecure, passive and even untrustworthy, when she may only be following a cultural dictum. A student whose eye contact is very direct and piercing may come across to a CI who was raised in another culture, as defiant, indifferent, abrasive, even rude.
</p>
  </div>
</div>









