<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Space Considerations</h3>
  </div>
  <div class="panel-body">
  
  	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Personal Space</h3>
  		</div>
  		<div class="panel-body">
  		<p><i>Proxemics</i> is the study of what you communicate by the way you use space. Edward T. Hall was an anthropologist who is considered to be the "father of proxemics". (McKay et al 1983) He described 4 distinct zones that people unconsciously use as they interact with others
</p>
 
<p>
Intimate distance has a close sub-phase of actually touching, and a far sub-phase of 6- 18" from the body. This is a zone for lovers, close friends and children holding onto their parents or each other. Non-intimates usually feel embarrassed or threatened if circumstances force them to share this spacer without nonverbal barriers to protect themselves. Observe on a crowded bus or elevator how people avoid eye contact and draw away or tense up if touch is unavoidable.
</p> 

<p>
Personal distance: close sub-phase is 1 ½ to 2 ½ feet, a comfortable zone for talking at a party, where you could easily touch your partner. The far sub-phase is 2 ½ to 4 ft. where you can discuss something relatively privately without risking touch. This is literally keeping your partner at arm's length.
</p>

<p>
Social distance has a close sub-phase of 4-7 feet, in which you are most likely to transact interpersonal business as talking to a client or service person. This sub-phase is often used manipulatively to indicate dominance. A supervisor will stand over a seated employee at this distance as an indication of his higher status. The far sub-phase of 7-12 feet is most frequently used for formal business or social interactions. The president of the company will often sit behind a desk that gives him about his much distance from his employees so that he can convey his superior status even when looking at an employee from a sitting position. This distance is also useful in an open office setting, where it allows employees to continue working without feeling rude for not interacting with co-workers nearly.
</p>

<p>
Public distance has a close sub-phase of 12-20 feet which is usually used for relatively informal gatherings such as a teacher working with a classroom of students or a boss talking with a group of employees. The far sub-phase of 20 feet or more is reserved for politicians and celebrities.
</p>
<p>
The four zones vary greatly from culture to culture, and people from different cultures often misinterpret one another for lack of an understanding of their differently defined zones. For instance, the personal zone of Hispanics is much closer than that of Anglo Americans. A conversation between acquaintances from these two distinct cultures can start at one end of a room and end at the other, as the Latin tries to move closer to the personal zone where he feels most comfortable, and the Anglo American draws away, feeling uncomfortable in his intimate zone. The Latin invariably goes away thinking that Anglos are stand-offish, and the Anglo leaves with the perception that Hispanics are "pushy."
</p>
    	</div>
	</div>
	
  
  <div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Activity</h3>
  		</div>
  		<div class="panel-body">
  		<p>In order to assess your comfort level with personal space, or to compare your sense of personal space with those of others in your department, try the following activity: </p>

<p>
Activity: Stand in the middle of an empty space and have someone walk slowly toward you. Tell the person to stop as soon as you begin to feel uncomfortable. Instruct him to move forwards and backwards until you are at a comfortable distance. This is your body buffer zone.
</p>

  		</div>
  </div>
  
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Touching</h3>
  </div>
  <div class="panel-body">
    Although the physical therapy profession is one where touch is inherent in most of our professional activities, there is a difference in how comfortable each individual is in various modes of personal contact. We all know who the huggers and touchers are in our lives-maybe we are one! A pat on the arm, an arm around the shoulders may seem friendly, innocent, open. But be cognizant of the fact that others may not be as comfortable with casual touch. Students who are more prone to casual touch may need to be especially alert to the body language of others. If the recipient attempts to move away, or to distance himself, or appears uncomfortable in any way, the student should pick up on this immediately.
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Place / Environment / Furnishings</h3>
  </div>
  <div class="panel-body">
<p>Where we choose to hold our conversations makes a statement about the importance of what we have to say. Inviting a student into a private office and closing the door may signify that we want to be taken seriously and value the other's input. It may also mean that we have a serious problem to discuss and don't want any distractions. Holding a conversation in a bustling corridor or in a crowded elevator is more impromptu and may carry less weight. Or it may be perceived by the listener as less important. If this is the case, fine. If we want the listener to be very attentive to our message, a busy place, where others may overhear, may not be appropriate.
</p>
<p>
A supervisor may indicate a position of authority if she invites an employee into her office for a discussion. The supervisor's desk, possessions and other artifacts all indicate her status. On the other hand, pulling up a chair next to an employee's desk (perhaps even asking for permission to do so) may indicate that the supervisor feels that they are more on equal footing for this discussion.
</p>
<p>
There may even be times when another location away from the office may be more appropriate. This setting would further distance the participants from possible interruptions. This type of situation may occur when a potential job applicant is being interviewed.
</p>
  </div>
</div>








