<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Seven Deadly Sins That Rob The Speaker of Power</h3>
  </div>
  <div class="panel-body">
<ol>
	<li>Hedging:  "This might be a good idea..." </li>
	<li>Tagging:  "…do you agree?"</li>
	<li>Cluttering:  "Last night when I was watering my plants, I started thinking of something that perhaps you haven't considered, but that might work in the present situation. Now I know this might not be a new idea, but it could really work if we all tried really hard and thought of various ways that we could make it work, etc, etc, etc."</li>
	<li>Filling:  For Baby Boomer Generation, the favorite was "you know". For Generation X and the Millenial Generation, it is "like".</li>
	<li>Smiling, nodding, head tilting:  Good listening behavior but does not present a picture of authority or self-assurance.</li>
	<li>Prefacing:  "You've probably already thought of this, but…"; "This might not sound like a good idea, but…"</li>
	<li>Trying:  When asked to see a new patient at 4:00 p.m. or to take the supervisor's place at a meeting, the therapist says "I'll try". No sense of commitment, no assurance that this will actually get done.</li>
</ol>
  </div>
</div>




 


 


 


 


 


 

