<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Court Decisions</h3>
  </div>
  <div class="panel-body">
  <p>
   The following are excerpts from court decisions:
   <ul>
   	<li>"Effective performance by physicians on the staff of a hospital, whose tasks require a high degree of cooperation, concentration, creativity and the constant exercise of professional judgment, requires a greater degree of compatibility."</li>
   	<li>"Personal hygiene and timeliness may be as important factors in a school's determination of whether a student will make a good medical doctor as the…ability to take a case history or diagnose an illness."</li>
   	<li>"It is necessary to assess non-cognitive issues: compatibility, timeliness, personal hygiene, etc." [from Day One and Document!]</li>
   </ul>
   </p>
  </div>
</div>
