<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Important Distinction</h3>
  </div>
  <div class="panel-body">
   <p>The CI provides information to the student in two ways, through feedback and through an evaluation. These are two different concepts.</p>
   <div class="table-responsive">
   		<table class="table">
   			<tr>
   				<th>Evaluation</th>
   				<th>&nbsp;</th>
   				<th>Feedback</th>
   			</tr>
   			<tr>
   				<td>Delayed</td>
   				<td>Timing</td>
   				<td>Immediate</td>
   			</tr>
   			<tr>
   				<td>Summative</td>
   				<td>Purpose</td>
   				<td>Formative</td>
   			</tr>	
   			<tr>
   				<td>Judgment</td>
   				<td>Delivers</td>
   				<td>Information</td>
   			</tr>
   			<tr>
   				<td>Adjectives/Adverbs</td>
   				<td>Grammar</td>
   				<td>Nouns/Verbs</td>
   			</tr>
   		</table>		
   </div>

  </div>
</div>

