<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Keys to Providing Positive Feedback</h3>
  </div>
  <div class="panel-body">
  <ul>
  	<li>It is critical in reinforcing good performance.</li>
  	<li>Give it frequently.</li>
  	<li>Give it honestly and not as vague praise.</li>
  	<li>Make it meaningful.</li>
  </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Be specific.</h3>
  </div>
  <div class="panel-body">
  <ul>
  	<li>Do not just say "good job" or "If I don't say anything, you're fine.", etc.</li>
  	<li>Do not always give positive and negative feedback together (feedback sandwich)</li>
  </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Questions to Ask Student</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>How do you think it went?</li>
    	<li>What aspects did you think were successful?</li>
    	<li>What aspects do you think need improvement?</li>
    	<li>What occurred that was unexpected?</li>
    	<li>Did you get the results you thought you would get?</li>
    	<li>What felt right?</li>
    	<li>What felt wrong?</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Questions to Ask Student</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>How do you think it went?</li>
    	<li>What aspects did you think were successful?</li>
    	<li>What aspects do you think need improvement?</li>
    	<li>What occurred that was unexpected?</li>
    	<li>Did you get the results you thought you would get?</li>
    	<li>What felt right?</li>
    	<li>What felt wrong?</li>
    </ul>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Feedback Summary</h3>
  </div>
  <div class="panel-body">
<p>
    Clarify expectations at the start of the internship.
</p>
<p>
Feedback should be:
<ul>
	<li>Expected for team collegiality and good communication.</li>
	<li>Both ways, between CI and student.</li>
	<li>Ongoing.</li>
	<li>Given soon after the behavior is noted.</li>
	<li>Based on direct observation, whenever possible.</li>
</ul>





  </div>
</div>




