<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Activities</h3>
  </div>
  <div class="panel-body">
  	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Activity 1: Words</h3>
  		</div>
  		<div class="panel-body">
<p>Often, Clinical Instructors become uncomfortable giving feedback to students on non-cognitive issues, such as personal hygiene, or on behaviors that (CI or the student) is "just part of their personality".
</p>
<p>
Consider the student who does not address the patient by the correct name because she "has never been good with names." Or, the student who does not seem to get along with the support staff because of coming across too aggressive, bossy or abrupt. "that's because I'm from New York. That's just my personality.
</p>
<p>
The professional staff of the physical therapy department knows what is acceptable behavior in their clinical environment. They know what behaviors are necessary to deliver safe and effective patient care. And, they have every right to ask for those behaviors from the student.
</p>
<p>
Describing characteristics, that is adjectives and adverbs, in the context of the behaviors, takes practice.
</p>

<p>
Practice describing the following adjectives/adverbs/behaviors in nouns and verbs.  What do these words look like?
</p>
<ul>
	<li>aloof</li>
	<li>abrupt</li>
	<li>shy</li>
	<li>aggressive</li>
	<li>helpful</li>
	<li>unprepared</li>
	<li>bored</li>
	<li>content</li>
	<li>unhappy</li>
	<li>careless</li>
	<li>passive</li>
	<li>caring</li>
	<li>imaginative</li>
	<li>eager</li>
</ul>
  		</div>
   	</div>
  
<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title">Activity 2: Bowling (Schweid 1994)</h3>
  		</div>
  		<div class="panel-body">  
<p>Read the following paragraph.
</p>

<p>
Millions of people enjoy bowling. Besides the social aspects of the game, bowling is fun because:
<ul>
	<li>There is an attainable goal-the pins at the end of the alley.</li>
	<li>There is an expected level of performance-your average.</li>
	<li>There is satisfaction for exceeding expected performance levels-pride or praise.</li>
	<li>There is immediate feedback on performance-you know the result of each ball thrown, and if necessary, make adjustments to improve your performance.
</li>
</ul>
</p>

<p>
Now think about your opinion regarding the effect on the bowler if the following changes were made in the game:
</p>
<ul>
	<li>The pins were hidden by hanging a drape halfway down the alley. </li>
	<li>A person stood by the drape and, at the end of the game, only told the bowler about the bad balls rolled. </li>
	<li>A person stood by the drape and provided feedback after every ball was rolled. </li>
	<li>If a good score was attained, the person standing by the drape took most of the credit. But if the score wasn't good, the bowler got most of the blame. 
</li>
</ul>
</p>
<p>
How would each of these situations affect the bowler? 
</p>
<p>
How could you imagine that these situations would translate into instances where the CI is giving feedback to the student during the internship?
</p>

 
		</div>
</div>  






  </div>
</div>










