<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Components of Feedback</h3>
  </div>
  <div class="panel-body">
  <ul>
  	<li>Provide it frequently</li>
  	<li>Give it as soon as the behavior is observed</li>
  	<li>Be specific and descriptive</li>
  	<li>Direct the feedback toward the behavior which can be changed, not at the Individual</li>
	<li>Try to balance the positive with the negative (but not all the time)</li>
  </ul>

  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Consider the Following</h3>
  </div>
  <div class="panel-body">
  <p>A student has been present for a team conference where all members of the team are deciding on a discharge placement for a patient. After the meeting, the CI tells the student, "You were very inattentive during that meeting. Please be more attentive from now on." The student hears what the CI is telling her, but thinks to herself, "I was paying attention. I heard everything that was being said." She then dismisses the CI's perceptions as incorrect. The next meeting, the student does not change any of her behaviors and the CI pulls her aside afterwards and says, "I told you to be more attentive and you weren't." The student now feels unjustly criticized and the CI is angry that her comments were ignored.
  </p>
  <p>What went wrong with this communication?</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Answer</h3>
  </div>
  <div class="panel-body">
  <ul>
  	<li>When we hear the word "inattentive", we know what this looks like. We can picture the student shuffling papers, playing with a pencil, looking around the room, not maintaining eye contact with the speaker--these are some of the behaviors that we associate with the word "inattentive". This is what "inattentive" looks like.</li>
  	<li>The student knows that she was hearing everything that was said, she could even repeat back to the CI most of the conversation verbatim, if asked. She knows she was paying attention. So she has no reason to change any of her behaviors.</li>
  	<li>The CI cannot make the student be attentive. She can only ask for behaviors that demonstrate that the student is paying attention. And she has every right to ask for these behaviors. Her communication with the student needs to address these behaviors, because the behaviors can be changed.</li>
  </ul>
  	
  </div>
</div>