<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Specific Strategies</h3>
  </div>
  <div class="panel-body">
   <p>Use attending behaviors to develop good listening skills.</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Eye Contact</h3>
  </div>
  <div class="panel-body">
   	<p>Suggests that you are attending to what is being said, be natural and direct, but don't stare. Be as constant as you can; frequent breaks suggest inattention.
	</p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Body Posture</h3>
  </div>
  <div class="panel-body">
	<p>Natural, attentive, direct; make gestures natural and easy.
	</p>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Verbal Responses</h3>
  </div>
  <div class="panel-body">
	<p>Follow the student's comments, don't change the subject, keep them consistent with your student's verbal and non-verbal behaviors, use minimal encouragers: prompts such as "…and then…" or "go on" or repeat key words from the student's previous statements, these indicate that you are interested in what the student is saying and would her/him to continue.
	</p>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Silences</h3>
  </div>
  <div class="panel-body">
  	<p>Are appropriate when the student is thinking and trying to decide how to continue with something that is difficult to discuss, is a positive form of communication in that it shows support for the student.
	</p>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Effective Inquiry</h3>
  </div>
  <div class="panel-body">
  <ul>
  	<li>Ask questions that cannot be answered with a yes or no.</li>
  	<li>Ask questions that are on topic.</li>
  	<li>"What" questions are fact-oriented. These help you to find out what is going on.</li>
  	<li>"How" questions are people oriented. These encourage the students to give their view of the situation and/or feelings about the situation.</li>
  	<li>"Could" and "can" questions provide the greatest flexibility. These tend to stimulate detailed responses.</li>
  </ul>
   		
  </div>
</div>






 


 


 


 


 


 

