<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Characteristics of Adult Learning</h3>
  </div>
  <div class="panel-body">
 <p> Knowles' andragogical (adult learning) theory postulates that adults learn differently from children. He holds that the following descriptors apply to the adult learner:</p>
   	<ul>
<li>Self motivators.</li>
<li>Self-regulated learners.</li>
<li>Seek information and mentors.</li>
<li>Perpetual learning to remain competitive and economically secure.</li>
<li>Learn by a variety of methods.</li>
<li>Want application for daily use.</li>
<li>Active participant.</li>
<li>Experiences are meaningful for the learner.</li>
<li>Life-long learners.</li>
<li>Problem oriented learning.</li>
<li>Reflective.</li>
<li>Interactive.</li>
<li>Learning is applicable and experiential.</li>
   	</ul>
  </div>
</div>
