<h1>CommunicationPages#feedback</h1>
<p>Find me in app/views/communication_pages/feedback.html.erb</p>

COMMUNICATION AND FEEDBACK: Feedback vs Evaluation

The CI provides information to the student in two ways, through feedback and through an evaluation. These are two different concepts

Evaluation	 	Feedback
Delayed	Timing	Immediate
Summative	Purpose	Formative
Judgment	Delivers	Information
Adjectives and Adverbs	Grammar	Nouns and Verbs
Activity

Often, Clinical Instructors become uncomfortable giving feedback to students on non-cognitive issues, such as personal hygiene, or on behaviors that (CI or the student) is "just part of their personality".

Consider the student who does not address the patient by the correct name because she "has never been good with names." Or, the student who does not seem to get along with the support staff because of coming across too aggressive, bossy or abrupt. "that's because I'm from New York. That's just my personality.

The professional staff of the physical therapy department knows what is acceptable behavior in their clinical environment. They know what behaviors are necessary to deliver safe and effective patient care. And, they have every right to ask for those behaviors from the student.

Describing characteristics, that is adjectives and adverbs, in the context of the behaviors, takes practice.

Practice describing the following adjectives/adverbs/behaviors in nouns and verbs.

What do these words look like?

aloof
abrupt
shy
aggressive
helpful
unprepared
bored
content
unhappy
careless
passive
caring
imaginative
eager
Activity (Schweid 1994) - Bowling

Read the following paragraph. 

Millions of people enjoy bowling. Besides the social aspects of the game, bowling is fun because:

There is an attainable goal-the pins at the end of the alley.
There is an expected level of performance-your average.
There is satisfaction for exceeding expected performance levels-pride or praise.
There is immediate feedback on performance-you know the result of each ball thrown, and if necessary, make adjustments to improve your performance.
Now think about your opinion regarding the effect on the bowler if the following changes were made in the game:

The pins were hidden by hanging a drape halfway down the alley. 
 
A person stood by the drape and, at the end of the game, only told the bowler about the bad balls rolled. 
 
A person stood by the drape and provided feedback after every ball was rolled. 
 
If a good score was attained, the person standing by the drape took most of the credit. But if the score wasn't good, the bowler got most of the blame. 
 
How would each of these situations affect the bowler? 
 
How could you imagine that these situations would translate into instances where the CI is giving feedback to the student during the internship?
Court Decisions

The following are excerpts from court decisions:

"Effective performance by physicians on the staff of a hospital, whose tasks require a high degree of cooperation, concentration, creativity and the constant exercise of professional judgment, requires a greater degree of compatibility."

"Personal hygiene and timeliness may be as important factors in a school's determination of whether a student will make a good medical doctor as the…ability to take a case history or diagnose an illness."

"It is necessary to assess non-cognitive issues: compatibility, timeliness, personal hygiene, etc." [from Day One and Document!]

Keys to Providing Positive Feedback

It is critical in reinforcing good performance.
Give it frequently.
Give it honestly and not as vague praise.
Make it meaningful.
Be specific.
Do not just say "good job" or "If I don't say anything, you're fine.", etc.
Do not always give positive and negative feedback together (feedback sandwich)
Questions to Ask Student

How do you think it went?
What aspects did you think were successful?
What aspects do you think need improvement?
What occurred that was unexpected?
Did you get the results you thought you would get?
What felt right?
What felt wrong?
Feedback Summary

Clarify expectations at the start of the internship 

Feedback should be:

Expected for team collegiality and good communication.
Both ways, between CI and student.
Ongoing.
Given soon after the behavior is noted.
Based on direct observation, whenever possible
Specific Strategies

Use attending behaviors to develop good listening skills. 

Eye Contact

Suggests that you are attending to what is being said, be natural and direct, but don't stare. Be as constant as you can; frequent breaks suggest inattention.

Body Posture

Natural, attentive, direct; make gestures natural and easy

Verbal Responses

Follow the student's comments, don't change the subject, keep them consistent with your student's verb al and non-verbal behaviors, use minimal encouragers: prompts such as "…and then…" or "go on" or repeat key words from the student's previous statements, these indicate that you are interested in what the student is saying and would her/him to continue.

Silences

Are appropriate when the student is thinking and trying to decide how to continue with something that is difficult to discuss, is a positive form of communication in that it shows support for the student.

Effective Inquiry

Ask questions that cannot be answered with a yes or no.
Ask questions that are on topic.
"What" questions are fact-oriented. These help you to find out what is going on.
"How" questions are people oriented. These encourage the students to give their view of the situation and/or feelings about the situation.
"Could" and "can" questions provide the greatest flexibility. These tend to stimulate detailed responses.
Components of Feedback

Provide it frequently
Give it as soon as the behavior is observed
Be specific and descriptive
Direct the feedback toward the behavior which can be changed, not at the Individual
Try to balance the positive with the negative (but not all the time)
Consider the Following

A student has been present for a team conference where all members of the team are deciding on a discharge placement for a patient. After the meeting, the CI tells the student, "You were very inattentive during that meeting. Please be more attentive from now on." The student hears what the CI is telling her, but thinks to herself, "I was paying attention. I heard everything that was being said." She then dismisses the CI's perceptions as incorrect. The next meeting, the student does not change any of her behaviors and the CI pulls her aside afterwards and says, "I told you to be more attentive and you weren't." The student now feels unjustly criticized and the CI is angry that her comments were ignored.

What went wrong with this communication?

Answer to Components of Feedback

When we hear the word "inattentive", we know what this looks like. We can picture the student shuffling papers, playing with a pencil, looking around the room, not maintaining eye contact with the speaker--these are some of the behaviors that we associate with the word "inattentive". This is what "inattentive" looks like.

The student knows that she was hearing everything that was said, she could even repeat back to the CI most of the conversation verbatim, if asked. She knows she was paying attention. So she has no reason to change any of her behaviors.

The CI cannot make the student be attentive. She can only ask for behaviors that demonstrate that the student is paying attention. And she has every right to ask for these behaviors. Her communication with the student needs to address these behaviors, because the behaviors can be changed.
