<h1>CommunicationPages#nonverbal</h1>
<p>Find me in app/views/communication_pages/nonverbal.html.erb</p>

COMMUNICATION AND FEEDBACK: Non-verbal Factors That Affect Communication

When considering the impact of non verbal behaviors on communication effectiveness, remember what Robert Bolton (1979) has pointed out. A specific gesture is like a word in a paragraph. The word can have many meanings, but only in the context of the paragraph or chapter can we accurately understand its intended meaning. Do not jump to conclusions. Do not ascribe feelings and intentions on others based upon what YOU would mean if YOU made that gesture. This caution is particularly important when dealing with folks from a different culture.

Gestures and Facial Expressions

Virtually every book written on communication lists how gestures can be the unspoken language that conveys our messages. Facial expressions, body position, hand signals-all of these add flavor to our language. For a complete listing of gestures and interpretations, consult the references on communication listed at the end of this session. 

There are two key factors to keep in mind, however.

The first is congruence. Your gestures should be congruent, that is they should agree with and support, your verbal message. Miss-communication occurs when there is a disconnect between the verbal and non-verbal message. The individual who is frowning, brows furrowed, mouth down-turned, shoulders hunched and eyes down-cast who is asked "What is the matter?" and responds in a gruff voice "Nothing-everything is just fine!" is an obvious example. The Clinical Instructor who is trying to explain a complicated piece of equipment to the student while he is documenting a progress note on the computer may perceive that the student is not paying attention, even though the student says "Go ahead, I'm listening."
 

The second is interpretation. As we discuss throughout this session, gestures and their meanings, vary between genders, generations and cultures. We tend to interpret a gesture based upon what we would mean if we did that. Although this interpretation may be correct, there is also a chance that it is not. Consider the individual and the context of the situation. Sometimes crossed arms only means the person is cold (temperature-wise) and not close-minded or resistant.

Time of Day

Activity: Imagine when you might want to have the following conversations with your student.

You need to discuss the fact that your student has been coming in to work 15 minutes late every day.

You want to discuss with your student that his work has been seriously deficient and you may need to ask him to leave the facility, if he doesn't show significant improvement immediately.

Eye Contact, Physical Alignment and Directness of Facing Head-On

Studies of gender differences in the above characteristics have shown that at all ages, girls and women sit closer to each other and look at each other directly, whereas boys and men sit at angles to each other, sometimes even parallel, and rarely look directly into each other's faces. Although, as noted above, women's speech may be more indirect that men's in physical alignment, men tend to more indirect.


In certain cultures, it is a sign of respect to avoid direct eye contact. Avoidance of eye contact can be a sign of attentiveness and respect in the Hispanic, Asian and Native American cultures. In the African American culture, there is a preference for indirect eye contact when listening with direct eye contact used during speaking (Leavitt 1999). Females may be expected to keep their eyes averted so as not to appear to be "forward". In the military, direct and sustained eye contact by a private toward a superior officer may seem to be challenging and disrespectful. A student who does not maintain appropriate eye contact with a CI may seem to be defensive, insecure, passive and even untrustworthy, when she may only be following a cultural dictum. A student whose eye contact is very direct and piercing may come across to a CI who was raised in another culture, as defiant, indifferent, abrasive, even rude.

Personal Space

Proxemics is the study of what you communicate by the way you use space. Edward T. Hall was an anthropologist who is considered to be the "father of proxemics". (McKay et al 1983) He described 4 distinct zones that people unconsciously use as they interact with others

 

Intimate distance has a close sub-phase of actually touching, and a far sub-phase of 6- 18" from the body. This is a zone for lovers, close friends and children holding onto their parents or each other. Non-intimates usually feel embarrassed or threatened if circumstances force them to share this spacer without nonverbal barriers to protect themselves. Observe on a crowded bus or elevator how people avoid eye contact and draw away or tense up if touch is unavoidable.
 

Personal distance: close sub-phase is 1 ½ to 2 ½ feet, a comfortable zone for talking at a party, where you could easily touch your partner. The far sub-phase is 2 ½ to 4 ft. where you can discuss something relatively privately without risking touch. This is literally keeping your partner at arm's length.
 

Social distance has a close sub-phase of 4-7 feet, in which you are most likely to transact interpersonal business as talking to a client or service person. This sub-phase is often used manipulatively to indicate dominance. A supervisor will stand over a seated employee at this distance as an indication of his higher status. The far sub-phase of 7-12 feet is most frequently used for formal business or social interactions. The president of the company will often sit behind a desk that gives him about his much distance from his employees so that he can convey his superior status even when looking at an employee from a sitting position. This distance is also useful in an open office setting, where it allows employees to continue working without feeling rude for not interacting with co-workers nearly.
 

Public distance has a close sub-phase of 12-20 feet which is usually used for relatively informal gatherings such as a teacher working with a classroom of students or a boss talking with a group of employees. The far sub-phase of 20 feet or more is reserved for politicians and celebrities.

The four zones vary greatly from culture to culture, and people from different cultures often misinterpret one another for lack of an understanding of their differently defined zones. For instance, the personal zone of Hispanics is much closer than that of Anglo Americans. A conversation between acquaintances from these two distinct cultures can start at one end of a room and end at the other, as the Latin tries to move closer to the personal zone where he feels most comfortable, and the Anglo American draws away, feeling uncomfortable in his intimate zone. The Latin invariably goes away thinking that Anglos are stand-offish, and the Anglo leaves with the perception that Hispanics are "pushy."

In order to assess your comfort level with personal space, or to compare your sense of personal space with those of others in your department, try the following activity: 


Activity: Stand in the middle of an empty space and have someone walk slowly toward you. Tell the person to stop as soon as you begin to feel uncomfortable. Instruct him to move forwards and backwards until you are at a comfortable distance. This is your body buffer zone.

Touching

Although the physical therapy profession is one where touch is inherent in most of our professional activities, there is a difference in how comfortable each individual is in various modes of personal contact. We all know who the huggers and touchers are in our lives-maybe we are one! A pat on the arm, an arm around the shoulders may seem friendly, innocent, open. But be cognizant of the fact that others may not be as comfortable with casual touch. Students who are more prone to casual touch may need to be especially alert to the body language of others. If the recipient attempts to move away, or to distance himself, or appears uncomfortable in any way, the student should pick up on this immediately.

Place / Environment / Furnishings

Where we choose to hold our conversations makes a statement about the importance of what we have to say. Inviting a student into a private office and closing the door may signify that we want to be taken seriously and value the other's input. It may also mean that we have a serious problem to discuss and don't want any distractions. Holding a conversation in a bustling corridor or in a crowded elevator is more impromptu and may carry less weight. Or it may be perceived by the listener as less important. If this is the case, fine. If we want the listener to be very attentive to our message, a busy place, where others may overhear, may not be appropriate.

A supervisor may indicate a position of authority if she invites an employee into her office for a discussion. The supervisor's desk, possessions and other artifacts all indicate her status. On the other hand, pulling up a chair next to an employee's desk (perhaps even asking for permission to do so) may indicate that the supervisor feels that they are more on equal footing for this discussion.
There may even be times when another location away from the office may be more appropriate. This setting would further distance the participants from possible interruptions. This type of situation may occur when a potential job applicant is being interviewed.

Seven Deadly Sins That Rob The Speaker of Power

Hedging
"This might be a good idea..." 
 

Tagging
"…do you agree?"
 

Cluttering
"Last night when I was watering my plants, I started thinking of something that perhaps you haven't considered, but that might work in the present situation. Now I know this might not be a new idea, but it could really work if we all tried really hard and thought of various ways that we could make it work, etc, etc, etc."
 

Filling
For Baby Boomer Generation, the favorite was "you know". For Generation X and the Millenial Generation, it is "like".
 

Smiling, nodding, head tilting
Good listening behavior but does not present a picture of authority or self-assurance.
 

Prefacing
"You've probably already thought of this, but…"
"This might not sound like a good idea, but…"
 

Trying
When asked to see a new patient at 4:00 p.m. or to take the supervisor's place at a meeting, the therapist says "I'll try". No sense of commitment, no assurance that this will actually get done.

Listening - A Commitment and a Compliment

Being quiet when someone talks does not constitute real listening. Real listening is based on the intention to do one of four things: understand someone, enjoy someone, learn something or give help and solace.

In the vast majority of schools, there are no effective training programs for developing listening skills. This fact makes little sense in a society where the graduated student will have to spend at least three times as much time listening as he spends reading.

Hearing is the physiological sensory processes by which auditory sensations are received by the ears and are transmitted to the brain. Listening is a more complex psychological procedure involving interpreting and understanding the significance of the sensory experience.

"I can never tell you what you said. I can only tell you what I heard."
