<h1>CommunicationPages#verbal</h1>
<p>Find me in app/views/communication_pages/verbal.html.erb</p>

COMMUNICATION AND FEEDBACK: Verbal Factors That Impact Communication

Non-verbal factors make up 93% of communication

38% is vocal (volume, pitch, rhythm, etc.)
55% is body movements (mostly facial expressions)
 70% of our waking moments are spent communicating

9% writing.
16% reading.
30% talking.
45% listening.
According to philosopher, Alfred North Whitehead, "The success of language in conveying information is highly over-rated".

Roughly 2/3 of your first impression of another person will remain unchanged after months of regular interaction.

Choice of Words

We have all been in situations where we had to choose our words carefully, to sort through the various word choices we had to pick the one that would most likely get the result we were looking for. We know that which words we choose to use can have a dramatic impact on the result. We have learned to choose different words to talk to a 3-year old patient versus 60-year old patient. We have learned when to use a more passive word and when to use an aggressive word. We know that it matters.

We also need to be aware of words that do not mean what they say. "This won't hurt" may not be true if we are debriding a wound, or giving an injection. 

In some cultures, such as many Asian ones, disagreement is to be avoided. This can lead to a situation where an Asian student may say "yes" when she is not necessarily agreeing with the CI's ideas. The "yes" may mean that the student is agreeing with the CI's right to have the idea or right to express it, or yes, she understands that that is the CI's idea. What it may NOT mean is that the student agrees with that idea. 

A similar misunderstanding may occur if the CI asks if the student understands a set of instructions. Before believing that yes means yes, it would be prudent for the CI to ask for paraphrasing, clarification, or to ask questions to make sure the student does understand.
When a female CI tells a student that she would like his reports "whenever he gets time to do it", that may not really be what she means. She may be using an indirect form of communication, when what she really means is "by 4:00 p.m. today".

Number of Words

See previous discussion for differences between genders and between generations.

Interruptions

Although this topic has been discussed as a gender difference in communication styles, it can also be found to differ among culture. When there is no obvious intention to dominate or to show rudeness or denigration, Tannen (1990) describes those who interrupt or "talk over" another's conversation as having a "high involvement" style. Those who do not interrupt, who wait for a lull in the conversation or for "their turn", she describes as having a "high considerateness" style of communication. The latter people give a high priority to being considerate of others and not imposing. The former individuals give priority to showing enthusiastic involvement in the conversation. Those who hesitate to interrupt a conversation may be perceived as lacking assertiveness or self-confidence. Tannen relates the following story:

"A woman from Texas went to Washington D.C. for a job in dormitory administration. When the dorm staff got together for meetings, she kept searching for the right time to break in-and never found it. Although back home she was considered outgoing and confident, in Washington she was perceived as shy and retiring. When she was evaluated at the end of the year, she was told to take an assertiveness-training course because of her inability to speak up." (Tannen 1986)

Many American Jews as well as non-Jews who are from New York have a high-involvement manner of speaking. Mid-westerners and New Englanders may expect greater lulls in the conversation and take offense when none is offered so that they may have a chance to speak. Athabaskan Indians expect even longer pauses. An Italian male student was considered a serious behavior problem in school simply by frequently chiming into the American instructor's conversations, a behavior that was seen as appropriate and quite normal at home.

Tone

Activity: Practice saying the word "oh" in various tones and inflections. See how many emotions you can express by simply saying this one small word.

Deep chest tones communicate firmness, self-assurance, and strength, thin and high-pitched voices suggest insecurity, weakness, indecisiveness. Below are a list of possible characteristics and how they may be reflected in the tone or pitch of the voice.

Characteristic	Reflection
Monotone voice	boredom
Slow speed, low pitch	depression
High voice, emphatic pitch	enthusiasm
Ascending tone	astonishment
Terse speed, loud tone	anger
Abrupt speech	defensiveness
High pitch, drawn-out speech	disbelief
Women are more likely than men to frame their ideas as questions, and to speak at lower volumes and higher pitch. Women tend to shift the pitch of their voice more frequently than men. By doing so, they may be perceived as more emotional. 

The same characteristic is seen in certain cultures, such as in Greece. Speaking in a lower then expected tone or pitch may appear to Americans as inappropriate given the circumstances, as a symptom of repression. A Japanese woman who not only doesn't cry but laughs when speaking of her husband's death might seen inappropriate by a Westerner who does not know that laughter is the customary and expected Japanese way of masking emotions. 

At times, it might be difficult for physical therapists to determine the extent of pain felt by patients of different cultures. Patients of Mediterranean background may show extreme reactions while experiencing far less pain than is being felt by a Native American who is rigid and silent. (Tannen 1986).

Arguing and Verbal Sparring

One author found that many high school boys but NO high school girls, had a friendship that began by fighting. Males are much more comfortable with this type of conversation than are most females. Among many cultures, such as Eastern European and German, friendly arguing is a means of being sociable. In one study, German students found American students uninformed and uncommitted because they were reluctant to argue politics with new acquaintances. Americans found the Germans students to be belligerent because they provoked arguments about American foreign policy with Americans they had just met. (Tannen 1994)
