<h1>Student Evaluation: Case Study 2</h1>


<p>Use the following case to determine answers to the questions below.
</p>

<p>Fred, a clinical instructor, is preparing the midterm summative evaluation of his student, Mark, who is on his final clinical experience in in-patient rehab. Overall the student’s patient care knowledge is exemplary. However, Fred has concerns with the Mark’s interpersonal skills, professionalism, responsibility, and communication skills. 
</p>
<p>Mark has been rated at entry level on all 4 of these skills on previous clinical experiences, yet there is no documentation on the skills pages. Fred kept thinking Mark was just having a slow start in a new environment. Now midterm is approaching and Fred has not discussed his concerns with Mark. 
</p>

<p>Mark has been rude to the nursing staff on occasion, although he seems to have effective relationships with his patients. He has spoken ill of others on the team and on one occasion, just this morning, breached patient confidentiality. Fred did tell Mark at that time of the inappropriateness of his behavior.
</p>

<p>Mark also has not turned in 2 homework assignments and has been late once with turning in documentation. Frequently he omits pertinent information in his documentation and has to be cued to make corrections. Answer the following questions before moving on.
</p>

<%= render 'form' %>

<%= link_to 'Back', student_evaluation_case2s_path %>
