<ul class="list-group">  		
  <li class="list-group-item">The CCCE in turn, is responsible for scheduling students on-site.</li>
  <li class="list-group-item">Students can be placed with one CI.</li>
  <li class="list-group-item">Two part-time CIs.</li>
  <li class="list-group-item">Two or more students can be placed with one CI.</li>
  <li class="list-group-item">Current research provides positive evidence for collaborative learning outcomes.</li>
</ul>