<ul class="list-group">  		
  <li class="list-group-item">The PT program sends a request for the dates of their clinical experiences to be offered in the following year. </li>
  <li class="list-group-item">Most PT programs, including the programs in the Consortium, comply with a Voluntary Uniform Mailing Date. </li>
  <li class="list-group-item">Early March is the designated mailing date.</li>
</ul>
