<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Examples of Learning Barriers</h3>
  </div>
  <div class="panel-body">
 <p>What are some additional barriers that may hamper student learning?
Here is a list of possible barriers. How does it compare to your list?
</p>
<ul>
	<li>Separation from spouse or family.</li>
	<li>Unable to “team play” (may feel like the outsider).</li>
	<li>Decreased communication skills (student or CI).</li>
	<li>Learning does not match personal goals.</li>
	<li>Unable to learn at an individual's own rate and independently.</li>
	<li>Teaching methods do not match the student's preferred methods.</li>

</ul>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Activity</h3>
  </div>
  <div class="panel-body">
As the CI for a student who seems to be distracted and not participating in the learning experiences, select one of the barriers and describe how you would approach the situation.
 
  </div>
</div>



















