<div class="panel panel-info">
  <div class="panel-heading">
  </div>
  <div class="panel-body">

Students' personal circumstances may be obstacles to their learning. An example of a learning barrier is the student whose focus is on the family back home rather than the learning experiences available in the facility. This student may not attend to the learning experiences available, but rather seems forgetful, uninterested or even bored. Without good communication, the student may be perceived by the CI as a poor student.

  </div>
</div>
