
 <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Calendar</h3>
  </div>
  <div class="panel-body">
For a master calendar of all programs' clinical education experiences click here (http://www.texasconsortium.org/Master%20Clinical%20Schedule%202016.pdf).  </div>
</div>
      