
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">Welcome</h2>
  </div>
  
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Welcome to the Texas Consortium for Physical Therapy Clinical Education website.  Here, you will find a central source of information about the many Physical Therapy programs in Texas, especially with respect to clinical education.  It includes a list of  members and access to the Clinical Education Certification Course.  This course has two parts: Part I: online and accessable through this website; Part II: a face-face class to be done after Part I is completed online.</li>
   </ul>
  </div>
  
</div>


<%= video_tag "meeting.mp4", :loop =>"loop",  :id => "bgvid", :autoplay => true, :type => "video/mp4", :controls => "controls" %>
<!-- <%= video_tag "meeting.webm", :loop =>"loop",  :id => "bgvid", :autoplay => true, :type => "video/webm", :controls => true %>-->
       