

<div class="page-header">
  <h2>Texas Consortium for Physical Therapy Clinical Education</h2>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome</h3>
  </div>
  
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Welcome to the Texas Consortium for Physical Therapy Clinical Education website.  Here, you will find a central source of information about the many Physical Therapy programs in Texas, especially with respect to clinical education.  It includes a list of  members and access to the Clinical Education Certification Course.  This course has two parts: Part I: online and accessible through this website; Part II: a face-face class to be done after Part I is completed online.</li>
   </ul>
  </div>
  
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose</h3>
  </div>
  <div class="panel-body">
  The primary purpose of this group is to coordinate all aspects of physical therapy clinical education. The Consortium functions with the financial support from the participating Universities. The Consortium has reduced the time, effort and cost of maintaining quality clinical education for the state's physical therapy students. In addition, The Consortium provides continuing education opportunities and training workshops for Clinical Instructors as well as Academic Coordinators of Clinical Education from all parts of the nation.
  </div>
</div> 

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Incorporation</h3>
  </div>
  <div class="panel-body">
   The Texas Consortium for Physical Therapy Clinical Education Inc. is the result of a collaborative arrangement among the physical therapy programs in the state.
  </div>
</div>




 <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Calendar</h3>
  </div>
  <div class="panel-body">
For a master calendar of all programs' clinical education experiences click here: <%=link_to "Calendar", "http://www.texasconsortium.org/MasterClinicalSchedule2016.pdf"%></div>
</div>  







<!--<%= video_tag "meeting.mp4", :loop =>"loop",  :id => "bgvid", :autoplay => true, :type => "video/mp4", :controls => "controls" %>-->
<!-- <%= video_tag "meeting.webm", :loop =>"loop",  :id => "bgvid", :autoplay => true, :type => "video/webm", :controls => true %>-->
       