
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title">Welcome</h2>
  </div>
  <div class="panel-body">
   <ul class="list-group">
  	<li class="list-group-item">Welcome to the Texas Consortium's website.</li>
   </ul>
  </div>
</div>
