
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Incorporation</h3>
  </div>
  <div class="panel-body">
   The Texas Consortium for Physical Therapy Clinical Education, Incorporated, is the result of a collaborative arrangement among the physical therapy programs in the state.
  </div>
</div>