        
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose</h3>
  </div>
  <div class="panel-body">
  The Primary purpose of this group is to coordinate all aspects of physical therapy clinical education. The Consortium functions with the financial support from the participating Universities. The Consortium has reduced the time, effort and cost of maintaining quality clinical education for the state's physical therapy students. In addition, The Consortium provides continuing education opportunities and training workshops for Clinical Instructors as well as Academic Coordinators of Clinical Education from all parts of the nation.
  </div>
</div>        
        