<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Physical Therapy Clinical Education!</h2>
                <hr class="light">
                <p class="text-faded">This website has everything you need to get started on Physical Therapy Clinical Education.</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                
                
                	<%=link_to "Get Started!", home_tabs_home_path, class: 'btn btn-default btn-xl'%>
                
            </div>
        </div>
    </div>
</section>

