
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Texas Consortium for Physical Therapy Clinical Education, Inc.</h1>
            <hr>
            <p>Welcome to the Texas Consortium for Physical Therapy Clinical Education website. Here, you will find a central source of information about the many Physical Therapy programs in Texas, especially with respect to clinical education.</p>
            <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
            
            <%=link_to "Find Out More", home_tabs_home_path, class: 'btn btn-primary btn-xl'%>
        </div>
    </div>
</header>


