<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Ultimate Responsibility</h3>
  </div>
  <div class="panel-body">
The ultimate responsibility for learning is on the student. The student must seek appropriate learning experiences. Self-assessment is part of the learning process. Regular conferences should be scheduled to provide ongoing feedback to the student. If the student is not meeting goals set forth, then an action plan should be developed cooperatively to assist the student in meeting the goals. If necessary, the ACCE/DCE is available to offer assistance in planning learning experiences. Student safety and effective patient care should always be the CI’s primary concerns. The CI is looking for entry level performance: level of knowledge, skill & professional behavior expected of a new graduate entering the profession. Entry level performance is based on student performance of all applicable objectives at the facility.
  </div>
</div>




