<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">CI training</h3>
  </div>
  <div class="panel-body">
If the CI has not been trained on the use of the PT MACS, the instructions should provide adequate instruction for the CI to use the tool effectively.
  </div>
</div>
