<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Cooperative planning</h3>
  </div>
  <div class="panel-body">
The student and CI should use the PT MACS to assist in planning the learning experiences. Both the CI and student should select skills from the PT MACS that the student will be able to work on. The CI will know which skills are appropriate for the site and the student can select skills based on prior academic knowledge and grading criteria.
  </div>
</div>