<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Student training</h3>
  </div>
  <div class="panel-body">
The student should come to your facility with adequate preparation in knowing how to use the PT MACS from a student perspective. They should understand self-assessment and selection of appropriate skills for their level of knowledge.
  </div>
</div>