<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Grading criteria</h3>
  </div>
  <div class="panel-body">
Each academic institution will have its own specific grading criteria. It is imperative that the CI and student be familiar and understand what those criteria are in order to ensure successful completion of the clinical experience. There may be other established requirements by the ACCE/DCE that are not related to the PT MACS. Those criteria related to the PT MACS must be discussed to determine if they are feasible goals for the facility. For example, if an ACCE/DCE requires that Wound Management be completed and your facility does not offer wound care as a learning experience, the ACCE/DCE needs to be contacted.
  </div>
</div>