// Place all the styles related to the PlanningPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
 		padding-top: 60px; 
 	}
 
div.content {
    /*border: 1px solid black;*/
    background-color: light blue;
    padding: 10px 20px 10px 20px;
	}
	
div.page_navigation {
		text-align: center 
	}
	
	
.panel {
    border: 0;
}