<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Learning Domain Levels</h3>
  </div>
  <div class="panel-body">
  In addition to determining the domain of learning, the level of learning is also important to recognize. Depending on the educational point at which you are providing learning opportunities for a student, experiences should progress from simple to complex patient problems. Ultimately, the entry level student will be able to analyze the information for clinical decision making.
  	<ul>
		<li>Knowledge: Lowest level of learning</li>
		<li>Application: Integration of principles</li>
		<li>Problem Solving: Analysis of information</li>
	</ul>
  
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Clinical Questions</h3>
  </div>
  <div class="panel-body">
 Think about clinical questions that you ask students. If you consistently ask questions at the <i>knowledge</i> level, the student may not be challenged to think (or perform) at the higher levels. Consider formulating a set of questions with your patient populations that you may consistently ask students as they rotate though your facility.

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Consider the following:</h3>
  </div>
  <div class="panel-body">

	<ul>
		<li>Does the student learn by reading, watching, experiencing?</li>
		<li>What motivates the student?</li>
		<li>What limits learning?</li>
		<li>Ask your student how he/she prefers to learn. Most students will be able to tell you their preference. If not, ask if he/she read the directions before assembling a large gizmo that comes packaged in a small box, or take out all the pieces and begin to put them together.</li>
		<li>The student who “learns by doing” will be bored watching the CI for a whole day and may appear inattentive and uninterested.</li>
		<li>The student who learns by watching and thinking will appear timid and lack confidence if he/she is asked to do a new procedure with a patient without the CI’s demonstration.</li>
		<li>You cannot always comply with the student’s preferred learning style. For example, you don’t “jump in and try it” in the ICU. However, as a CI if you adjust your teaching to the student’s learning style, the outcome will be enhanced.</li>
	</ul>
  
  </div>
</div>
















