<div class="panel panel-info">
  <div class="panel-heading">
  </div>
  <div class="panel-body">

		<div class="panel panel-info">
  			<div class="panel-body">
  				Bloom's Taxonomy was developed to assist teachers with developing learning objectives for courses and then relating those objectives to test questions. In designing learning experiences you must recognize which domain of learning you are targeting.
  		 	</div>
		</div>
		
		<div class="panel panel-info">
  			<div class="panel-heading">
    			<h3 class="panel-title">Cognitive</h3>
  			</div>
  			<div class="panel-body">
				Knowledge - You should survey your student’s knowledge periodically rather than assume he/she knows the material from a completed course. “What is normal AROM for the elbow?” “List contraindications for ultrasound.” “Describe the function of the supraspinatus.”
  		 	</div>
		</div>

		<div class="panel panel-info">
  			<div class="panel-heading">
    			<h3 class="panel-title">Affective</h3>
  			</div>
  			<div class="panel-body">
				Value/Attitude - This area encompasses professional behaviors that can be taught by modeling them. They include things like responsibility and professionalism. Have a discussion with your student about the <%=link_to "APTA Core Values", "http://www.apta.org/Professionalism/"%>. The first ten skills of the PT MACS also fall into this category. Ask your student to rate him/herself on these skills. Self-assessment is part of the learning process. If a student has not met entry-level on these skills, have the student to write a weekly goal related to this skill and provide feedback to guide the student toward obtaining this goal.
  		 	</div>
		</div>
		
		<div class="panel panel-info">
  			<div class="panel-heading">
    			<h3 class="panel-title">Psychomotor</h3>
  			</div>
  			<div class="panel-body">
				Skill - This is an easy one for the CI to teach and observe learning. You can facilitate learning by showing and telling as you demonstrate a new facilitation technique with a patient and then observe the student’s replication of the skill. Immediate feedback can be provided by the CI and in many situations by the patient too!
  		 	</div>
		</div>
   
  </div>
</div>
